{% autoescape off %}
Hello StreamWebs user {{ user.get_full_name }},

We are excited to announce the launch of our new website!

We have some exciting new features such as:

- ability to extract the data that you enter into an excel spreadsheet for further manipulation in the classroom
- side by side comparison of sites
- less complicated water quality graphs with the ability to view individual data points in a histogram

A couple of our less frequently used datasheets were not incorporated into our new site: Invasive species, StreamFlow, and Pebble Count. These datasheets are still available for you to use and can be downloaded as PDF’s from the site, they are just no longer supported for entering into the website.

You will also notice that individual users no longer have a profile page, you will still be able to find your data attached to the site pages.  You will be able to see your contributions to the site also find data by looking at your school or organization.

As with any new website, there may still be bugs for us to work out.  Please let us know when you experience issues and we will work to resolve them.  We welcome your feedback during this transition!

If you have any questions you can contact us at info@streamwebs.org.

In order to access your account on the new website, you will need to reset your password the password on the new website.

Streamwebs Account: {{ user.get_username }}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,

StreamWebs
{% endautoescape %}
