<p>A new user {{ user.get_full_name }} has registered as an Editor for a new organization, {{ school.name }}.</p>
<p>The request is awaiting your approval at the link below:</p>
<br\>
<a href="{{ protocol }}://{{ domain }}{% url 'streamwebs:new_org_request' school_id=school.id %}">
    {{ protocol }}://{{ domain }}{% url 'streamwebs:new_org_request' school_id=school.id %}
</a>
<br/>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
<br/>
<p>Sincerely,</p>
<p>StreamWebs</p>