{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Reset Your Password{% endblock %}

{% block body_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
  div.container {
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <br/>
    <p>
      Your password has been set.
    </p>
    <br/>
    <p>
      You may go ahead and <a href="{% url 'streamwebs:login' %}">sign in</a> now.
    </p>
  </div>
</div>
{% endblock %}
