{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Password Reset{% endblock %}

{% block body_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <style>
    form {
      text-align: center;
    }
  </style>

  <br/>
  <div class="container">
    <div class="row">
      <div class="col s12 l6 offset-l3">
        <p>
          Please enter your email address:
        </p>
        <br/>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn wave-effect waves-light teal darken-3" type="submit"
            name="submit" value="{% trans "Send Email" %}">
            {% trans "Send Email" %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
