{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Reset Your Password{% endblock %}

{% block body_title %}{% trans "Reset Your Password" %}{% endblock %}

{% block content %}
  <style>
    form {
      text-align: center;
    }
  </style>

  <div class="container">
    <div class="row">
      {% if validlink %}
        <div class="col s12 l6 offset-l3">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn waves-effect waves-light teal darken-4" type='submit' value='{% trans "Confirm Password"%}' />
          </form>
        </div>
      {% else %}
        <div class="col s12 l10 offset-l1">
          <br/>
          <p>
            The password reset link was invalid, possibly because it has already been used.
          </p>
          <br/>
          <p>
            Please request a new password reset.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
