{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Reset Your Password{% endblock %}

{% block body_title %}{% trans "Reset Your Password" %}{% endblock %}

{% block content %}
  <style>
    form {
      text-align: center;
    }
  </style>

  <div class="container">
    <div class="row">
      {% if validlink %}
        <div class="col s12 l6 offset-l3">
          <form method="post">
            {% csrf_token %}
            <label
                for="{{ user_form.first_name.id_for_label }}">{% trans "Repeat New Password" %}:</label>
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            <label
                for="{{ user_form.first_name.id_for_label }}">{% trans "Confirm Password" %}:</label>
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
              <button class="btn wave-effect waves-light teal darken-3" type="submit"
                name="submit" value="{% trans "Reset Password" %}">
                {% trans "Reset Password" %}
              </button>
          </form>
        </div>
      {% else %}
        <div class="col s12 l10 offset-l1">
          <br/>
          <p>
            The password reset link was invalid, possibly because it has already been used.
          </p>
          <br/>
          <p>
            Please request a new password reset.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
