alabaster==0.7.10
Babel==2.4.0
backports.ssl-match-hostname==3.4.0.2
chardet==2.2.1
configparser==3.5.0
Django==1.11
django-queryset-csv==1.0.0
django-recaptcha==1.3.0
docutils==0.13.1
enum34==1.1.6
flake8==3.3.0
funcsigs==1.0.2
GDAL==1.11.4
imagesize==0.7.1
iniparse==0.4
Jinja2==2.9.6
kitchen==1.1.1
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
nose==1.3.0
numpy==1.7.1
olefile==0.44
pbr==3.1.0
pep8==1.7.0
Pillow==4.1.1
psycopg2==2.7.1
pycodestyle==2.3.1
pycurl==7.19.0
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.14.0
pygpgme==0.3
pyliblzma==0.5.3
pytz==2017.2
pyxattr==0.5.1
PyYAML==3.12
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
typing==3.6.1
unicodecsv==0.14.1
urlgrabber==3.10
yum-metadata-parser==1.1.4
