{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% block title %}Water Quality - {{site.site_name}} -{% endblock %}
{% load i18n %}

{% block scripts %}
<script type="application/javascript">
    window.data = {{data|safe}};
    const siteId = '{{site.site_slug}}';
</script>

<script type="application/javascript"
        src="{% static 'streamwebs/js/graphs/water_quality.js' %}">
</script>
{% endblock %}

{% block body_title %}{{site.site_name}}: {% trans "Water Quality" %}{% endblock %}

{% block content %}
<form action=""><div id="dates">
        <p>{% trans "Date Range:" %}</p>
        <label for="date-start">{% trans "After" %}</label>
        <input type="date" name="date" id="date-start" value="" />
        <label for="date-end">{% trans "Before" %}</label>
        <input type="date" name="date" id="date-end" value="" />
    </div>
</form>

<style>
    label {
        margin-right: 1.5em;
    }
</style>

<input type="checkbox" id="temperature-control"
       onclick="$('#graph-{{site.site_slug}}-temperature').fadeToggle()" />
<label for="temperature-control">Temperature</label>
<input type="checkbox" id="oxygen-control"
       onclick="$('#graph-{{site.site_slug}}-oxygen').fadeToggle()" />
<label for="oxygen-control">Dissolved Oxygen</label>
<input type="checkbox" id="ph-control"
       onclick="$('#graph-{{site.site_slug}}-ph').fadeToggle()" />
<label for="ph-control">pH</label>
<input type="checkbox" id="turbidity-control"
       onclick="$('#graph-{{site.site_slug}}-turbidity').fadeToggle()" />
<label for="turbidity-control">Turbidity</label>
<input type="checkbox" id="salinity-control"
       onclick="$('#graph-{{site.site_slug}}-salinity').fadeToggle()" />
<label for="salinity-control">Salinity</label>
<input type="checkbox" id="conductivity-control"
       onclick="$('#graph-{{site.site_slug}}-conductivity').fadeToggle()" />
<label for="conductivity-control">Conductivity</label>
<input type="checkbox" id="dissolved-control"
       onclick="$('#graph-{{site.site_slug}}-dissolved').fadeToggle()" />
<label for="dissolved-control">Dissolved Solids</label>
<input type="checkbox" id="bod-control"
       onclick="$('#graph-{{site.site_slug}}-bod').fadeToggle()" />
<label for="bod-control">Biochemical Oxygen Demand</label>
<input type="checkbox" id="coliform-control"
       onclick="$('#graph-{{site.site_slug}}-coliform').fadeToggle()" />
<label for="coliform-control">Fecal Coliform</label>

<h2 class="graph-header">Water Quality Over Time</h2>
<div id="graph-{{site.site_slug}}-container">
    <div class="row">
        <div id="graph-{{site.site_slug}}-temperature" class="graph line temperature col s12 l6">
            <h3 class="graph-header">Temperature (°C)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-oxygen" class="graph line oxygen col s12 l6">
            <h3 class="graph-header">Dissolved Oxygen (mg/L)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-ph" class="graph line ph col s12 l6">
            <h3 class="graph-header">pH</h3>
        </div>
        <div id="graph-{{site.site_slug}}-turbidity" class="graph line turbidity col s12 l6">
            <h3 class="graph-header">Turbidity (NTU)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-salinity" class="graph line salinity col s12 l6">
            <h3 class="graph-header">Salinity (PSU or PPT)</h3> <!-- TODO: You need to ask Renee about this! -->
        </div>
        <div id="graph-{{site.site_slug}}-conductivity" class="graph line conductivity col s12 l6">
            <h3 class="graph-header">Conductivity (µS/cm)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-dissolved" class="graph line dissolved col s12 l6">
            <h3 class="graph-header">Dissolved Matter (mg/L)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-bod" class="graph line bod col s12 l6">
            <h3 class="graph-header">Biochemical Oxygen Demand (mg/L)</h3>
        </div>
        <div id="graph-{{site.site_slug}}-coliform" class="graph line coliform col s12 l6">
            <h3 class="graph-header">Fecal Coliform (CFU / 100 mL)</h3>
        </div>
    </div>
</div>
{% endblock %}
