{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% block title %}Water Quality - {{site.site_name}} -{% endblock %}
{% load i18n %}

{% block scripts %}
<script type="application/javascript">
    window.data = {{data|safe}};
    const siteId = '{{site.site_slug}}';
</script>

<script type="application/javascript"
        src="{% static 'streamwebs/js/graphs/water_quality.js' %}">
</script>
{% endblock %}

{% block body_title %}<a href="{% url 'streamwebs:site' site.site_slug %}">{{site.site_name}}</a>:
{% trans "Water Quality" %}{% endblock %}

{% block content %}
<form action=""><div id="dates">
        <p>{% trans "Date Range:" %}</p>
        <label for="date-start">{% trans "After" %}</label>
        <input type="date" name="date" id="date-start" value="" />
        <label for="date-end">{% trans "Before" %}</label>
        <input type="date" name="date" id="date-end" value="" />
    </div>
</form>

<h2 class="graph-header">Water Quality Over Time</h2>
<div id="graph-{{site.site_slug}}-container">
    <h3 class="graph-header">Temperature (°C)</h3>
    <div id="graph-{{site.site_slug}}-temperature" class="graph line temperature"></div>
    <h3 class="graph-header">Dissolved Oxygen (mg/L)</h3>
    <div id="graph-{{site.site_slug}}-oxygen" class="graph line oxygen"></div>
    <h3 class="graph-header">pH</h3>
    <div id="graph-{{site.site_slug}}-ph" class="graph line ph"></div>
    <h3 class="graph-header">Turbidity (NTU)</h3>
    <div id="graph-{{site.site_slug}}-turbidity" class="graph line turbidity"></div>
    <h3 class="graph-header">Salinity (PSU or PPT)</h3> <!-- TODO: You need to ask Renee about this! -->
    <div id="graph-{{site.site_slug}}-salinity" class="graph line salinity"></div>
    <h3 class="graph-header">Conductivity (µS/cm)</h3>
    <div id="graph-{{site.site_slug}}-conductivity" class="graph line conductivity"></div>
    <h3 class="graph-header">Dissolved Matter (mg/L)</h3>
    <div id="graph-{{site.site_slug}}-dissolved" class="graph line dissolved"></div>
    <h3 class="graph-header">Biochemical Oxygen Demand (mg/L)</h3>
    <div id="graph-{{site.site_slug}}-bod" class="graph line bod"></div>
    <h3 class="graph-header">Fecal Coliform (CFU / 100 mL)</h3>
    <div id="graph-{{site.site_slug}}-coliform" class="graph line coliform"></div>
</div>
{% endblock %}
