{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Edit Account {% endblock %}

{% block body_title %}{% trans "Edit Account" %}{% endblock %}

{% block content %}

  {% if messages %}
    <div class="center-content">
      {% for message in messages %}
        <strong>{{ message }}</strong>
      {% endfor %}
    </div>
  {% endif %}
  <hr/>
  <br/>
  <div class="row">
    <div class="col offset-s4 s4" style="text-align:center;">
      <b>Name:{{ user.first_name }} {{ user.last_name }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4" style="text-align:center;">
      <b>Email: {{ user.email }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4" style="text-align:center;">
      <b>Username: {{ user.username }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col offset-s4 s4" style="text-align:center;">
      <b>School: {{ user.userprofile.school }}</b>
    </div>
  </div>
  <br/>
  <div class="row">
    <a href="{% url 'streamwebs:update_email' %}" class="btn col offset-s4 s4 teal darken-3">Change Email</a></li>
  </div>
  <div class="row">
    <a href="{% url 'streamwebs:update_password' %}" class="btn col offset-s4 s4 teal darken-3">Change Password</a></li>
  </div>
{% endblock %}
