{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% load verbose_names %}

{% block title %}{{ site.site_name  }} Add Account- {% trans "Streamwebs" %}{% endblock %}

{% block body_title %}{% endblock %}

{% block content %}
<style>
  label {
    color: black !important;
  }
  ul.errorlist ~ input {
      border-bottom-color: red;
    }
  </style>

  <div class="container">
    <h3 align="center" class="teal-text">
        Add Account at {{school_data.name}}
    </h3>

    <br/><br/>
    <form class="col s8 offset-s2" id='user_form' method='post' 
      action="{% url 'streamwebs:add_account' school_data.id %}" novalidate>
      {% csrf_token %}

      <div class="row">
        <div class="input-field col s6">
          <label for="{{ user_form.first_name.id_for_label }}">{% trans "First Name (Optional)" %}:</label>
          {{ user_form.first_name.errors }}
          {{ user_form.first_name }}
        </div>


        <div class="input-field col s6">
          <label for="{{ user_form.last_name.id_for_label }}">{% trans "Last Name (Optional)" %}:</label>
          {{ user_form.last_name.errors }}
          {{ user_form.last_name }}
        </div>
      </div>
  
      <div class="input-field col s12">
        <label
            for="{{ user_form.username.id_for_label }}">{% trans "Username" %}:</label>
          {{ user_form.username.errors }}
        {{ user_form.username }}
      </div>
  
      <div class="input-field col s12">
        <label
            for="{{ user_form.email.id_for_label }}">{% trans "Email (Optional)" %}:</label>
        {{ user_form.email.errors }}
        {{ user_form.email }}
      </div>
  
      <div class="input-field col s12">
        <label
            for="{{ user_form.password.id_for_label }}">{% trans "Password" %}:</label>
        {{ user_form.password.errors }}
        {{ user_form.password }}
      </div>
  
      <div class="input-field col s12">
        <label
            for="{{ user_form.password_check.id_for_label }}">{% trans "Verify Password" %}:</label>
        {{ user_form.password_check.errors }}
        {{ user_form.password_check }}
      </div>
     
  
      <div class="col s12">
        <a href="{% url 'streamwebs:manage_accounts' school_data.id %}" 
          class="btn wave-effect waves-light teal darken-3"
          name="cancel" value="{% trans "Cancel" %}">
          {% trans "Cancel" %}
        </a>
        <button class="btn wave-effect waves-light teal darken-3 right" type="submit"
          name="submit" value="{% trans "Create Account" %}">
          {% trans "Create Account" %}
        </button>
      </div>
      
  </form>

  </div>
{% endblock %}

{% block scripts %}

<script>
  var ERROR_TOAST = ''; // printed by data-toasts.js
  {% for field, errors in user_form.errors.items %}
    {% for error in errors %}
      // get_field_label is from verbose_names.py
      ERROR_TOAST += "{% get_field_label user_form field %}: {{ error }}<br>";
    {% endfor %}
  {% endfor %}
</script>

<script src="{% static 'streamwebs/js/data.js' %}"></script>
<script src="{% static 'streamwebs/js/data-toasts.js' %}"></script>

{% endblock %}
