{% extends "streamwebs/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Add School/Organization" %}{% endblock %}


{% block body_title %}Add a School or Organization{% endblock %}


<div class="container">
  <form method='post' enctype='multipart/form-data' name= "school_form" id='school_form'>
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s12" name="radio">
        <label for="{{ school_form.name.id_for_label }}">{% trans "Name" %}</label>
        {{ school_form.name }}
        {{ school_form.name.errors | striptags }}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <label for="{{ school_form.school_type.id_for_label }}" id="type">{% trans "Type:" %}</label>
        <div class="input-field">
          {% for radio in school_form.school_type %}
          {{ radio.tag }}
          <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
          {{ radio.tag.errors | striptags }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="{{ school_form.address.id_for_label }}">{% trans "Address" %}</label>
        {{ school_form.address }}
        {{ school_form.address.errors | striptags }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="{{ school_form.city.id_for_label }}">{% trans "City" %}</label>
        {{ school_form.city }}
        {{ school_form.city.errors | striptags }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="{{ school_form.province.id_for_label }}">{% trans "State" %}</label>
        {{ school_form.province }}
        {{ school_form.province.errors | striptags }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="{{ school_form.zipcode.id_for_label }}">{% trans "Zipcode" %}</label>
        {{ school_form.zipcode }}
        {{ school_form.zipcode.errors | striptags }}
      </div>
    </div>
    <input class="btn waves-effect waves-light teal darken-3" type="submit"
    value='{% trans "Submit" %}' id="submit">
  </form>
</div>

{% endblock %}

{%block scripts %}
<style>
#type{
  font-size: 18px;
}

</style>

<script type="text/javascript">
document.getElementById("submit").addEventListener("click",
function(){
  var a = document.getElementsByName("radio");
  for(var i = 0, len = a.length; i < len; i++){
    if (a[i].checked){
      return true;
    }
  }
  Materialize.toast("Please Select a Type", 4000, 'red');
  return false;
});
</script>

{% endblock %}
{% block content %}
