{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Streamwebs{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'streamwebs/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'streamwebs/images/favicon.ico' %}" />
    {% load pipeline %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <span class="title">
      {% block body_title %}{% endblock %}
    </span>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
