{% load staticfiles %}
{% load pipeline %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Streamwebs{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'streamwebs/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'streamwebs/images/favicon.ico' %}" />
    {% javascript 'libraries' %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <form action="/i18n/setlang/" method="post">
       {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <select name="language">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}">{{ lang.1 }}</option>
              {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
    <span class="title">{% block body_title %}{% endblock %}</span>
    {% block content %}{% endblock %}
</body>
</html>
