{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}
{% load i18n %}
{% load verbose_names %}


{% block title %}{{ site.site_name  }} Duplicate Users - {% trans "Streamwebs" %}{% endblock %}

{% block body_title %}{% endblock %}

{% block content %}
  <style>
    label {
      color: black; !important
    }
    ul.errorlist ~ input {
      border-bottom-color: red;
    }
  </style>

  <div class="container">
    <h3 align="center" class="teal-text">
        Duplicate users
    </h3>

    <h4>By username:</h4>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Users SQL Query</span>
            <p>{{ user_query }}</p>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username_lower }}</td>
                <td>{{ user.username_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/><br/>
    
    <h4>By email:</h4>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Emails SQL Query</span>
            <p>{{ email_query }}</p>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <td>Email</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
        {% for user in emails %}
        <tr>
            <td>{{ user.email_lower }}</td>
            <td>{{ user.email_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
