{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Edit Account {% endblock %}
{% block stylesheets %}
    <style>
        .errorlist{
            color:red;
        }
    </style>
{% endblock %}
{% block body_title %}{% trans "Register" %}{% endblock %}
{% block content %}
    <div class="row">
        <form class="col s8 offset-s2" id="user_edit_form" method="post" action="{% url 'streamwebs:edit_account' %}">
            <strong>{% trans "Edit your account" %}</strong><br/>
            {% csrf_token %}
            <div class="input-field col s6">
                <label for="{{ user_edit_form.first_name.ad_for_label }}">First Name:</label>
                    {{ user_edit_form.first_name }}
                    {{ user_form.first_name}}
            </div>
        </form
        {% if edit_submitted %}
        <strong>{% trans "You have successfully modified your account." %}</strong>
    </div>
{% endblock %}
