{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <style>
    div.sections {
      background: #B2DFDB;
      padding-top: 40px;
    }
    section {
      width: 49%;
      height: auto;
      float: left;
    }
    section.left {
      margin-right: 2%;
    }
    a.section-title {
      display: block;
      width: 240px;
      height: 50px;
      font-size: 20px;
      line-height: 48px;
      color: white;
      text-align: center;
      background: #00897B;
      margin: 0 auto;
      transition: background 0.2s linear 0s;
    }
    a.section-title:hover {
      background: #00695C;
    }
    section p {
      text-align: justify;
      margin: 30px 30px 50px 30px;
    }
    div.alert{
      background: #b2dfdb;
      padding: 30px;
    }
    a.FAQ-title{
      height: 50px;
      width: 500px;
      padding: 20px;
      background: #00897B;
      font-size: 24px;
      color: white; !important
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="center">{% trans "Getting to Know Streamwebs" %}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>
        Every year thousands of students from around the state of Oregon collect
        a wide range of watershed data in the field, StreamWebs provides a way
        for students to follow up with the field experience back in the classroom.
        StreamWebs offers a suite of online applications for students to share and
        analyze their data and review the work of their peers. Students are able
        to upload their data and share their valuable contributions to watershed
        health with their community.
        </p>
      </div>
    </div>
    <div class="row alert">
      <div class="col s12 center">
        <a class="FAQ-title" href="{% url 'streamwebs:faq' %}">
          Noticed some changes to the site? Visit our FAQ page!
        </a>
      </div>
    </div>
    <br/>
    <div class="container">
      <img class="responsive-img"
           src="{% static 'streamwebs/images/SW_5.jpg' %}"
           alt="homepage img">
    </div>
    <br/><br/>
    <div class="row sections">
      {% if not user.is_authenticated %}
        <section class="left">
          <a class="section-title" href="{% url 'streamwebs:register' %}">
            Create An Account
          </a>
          <p>
            Click on Create Account and complete the registration form, choose
            a username and password. Once you successfully complete the form,
            you will be ready to start exploring StreamWebs! It is recommended
            that you create a single account that your class can use to log in.
          </p>
        </section>
        <section>
          <a class="section-title" href="{% url 'streamwebs:sites' %}">
            Search Sites
          </a>
          <p>
            StreamWebs allows you to enter your data by location. "Search
            Sites" will allow you to see if there is a project site for the
            location you are interested in. Click on the red site peg, then the
            site name to navigate to an existing site, and you are ready to
            begin entering your data!
          </p>
        </section>
        <section class="left">
          <a class="section-title" href="{% url 'streamwebs:create_site' %}">
            Create Site
          </a>
          <p>
            By selecting the “Create Site” button you can create your own
            project site. Just enter the requested information about your
            project site, and personalize your site page with a photo. You are
            now ready to enter your data!
          </p>
        </section>
        <br/>
        <section>
          <a class="section-title" href="{% url 'streamwebs:resources' %}">
            View Resources
          </a>
          <p>
            StreamWebs offers a number of resources that educators can use to
            support field experiences including curricula, tutorial videos,
            watershed monitoring protocols and data sheets.
          </p>
        </section>
      {% else %}
        <div class="row">
          <div class="col s12">
            <section>
              <a class="section-title" href="{% url 'streamwebs:sites' %}">
                Search Sites
              </a>
              <p>
                StreamWebs allows you to enter your data by location, you can go to
                the sites page map to see if there is a project site for the
                location you are interested in. Click on the site peg to navigate to
                the site page and you are ready to begin entering your data!
              </p>
            </section>
            <section class="left">
              <a class="section-title" href="{% url 'streamwebs:create_site' %}">
                Create Site
              </a>
              <p>
                By selecting the “Create Site” button you can create your own
                project site. Just enter the information about your project site
                that is requested and personalize your site page with a photo. You
                are now ready to enter your data!
              </p>
            </section>
          </div>
          <div class="col 12">
            <section>
              <a class="section-title" href="{% url 'streamwebs:resources' %}">
                View Resources
              </a>
              <p>
                StreamWebs offers a number of resources that educators can use to
                support field experiences including curricula, tutorial videos,
                watershed monitoring protocols and data sheets.
              </p>
            </section>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      {% if messages %}
        {% for message in messages %}
          Materialize.toast('{{ message }}', 4000, 'green');
        {% endfor %}
      {% endif %}
    });
  </script>
{% endblock %}
