{% extends "streamwebs/base.html" %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>StreamWebs</title>
    </head>

    <body>
        <h1>{% block body_title %}StreamWebs{% endblock %}</h1>
        {% block content %}
        <p>{% trans "About:" %} </p>

        {% if user.is_authenticated %}
            <a href="/streamwebs/logout/">{% trans "Log out" %}</a><br />
        {% else %}
            <a href="/streamwebs/register/">{% trans "Register" %}</a><br />
            <a href="/streamwebs/login/">{% trans "Log in" %}</a>
        {% endif %}
        {% endblock %}
    </body>
</html>
