{% extends "streamwebs/base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Log in" %}</title>
    </head>

    <body>
      {% block content %}
        <h1>{% trans "Log In" %}</h1>

        <form id='login_form' method='post' action='/streamwebs/login/'>
            {% csrf_token %}
            {% trans "Username:" %}<input type='text' name='username' value='' size='50' />
            <br />
            {% trans "Password:" %}<input type='password' name='password' value='' size='50' />
            <br />

            <input type='submit' name='submit' value='{% trans "Log in" %}' />
        </form>
        {% endblock %}
     </body>
</html>
