{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block stylesheets %}{% endblock %}
{% block title %}Log In -{% endblock %}
{% block body_title %}{% trans "Log In" %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
        <form class="col s4 offset-s4" id='login_form' method='post' action='/streamwebs/login/'>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% trans "Username:" %}<input type='text' name='username' value='' size='50' />
            <br />
            {% trans "Password:" %}<input type='password' name='password' value='' size='50' />
            <br />

            <input class="waves-effect waves-light btn" type='submit' name='submit' value='{% trans "Log in" %}' />

        </form>
  </div>
{% endblock %}
