{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}
{% load i18n %}

{% block title %}{{ site.site_name  }} Manage Accounts- {% trans "Streamwebs" %}{% endblock %}

{% block body_title %}{% endblock %}

{% block content %}
<style>
  label {
    color: black; !important
  }
  .center-content-horizontal{
    text-align: center;
  }
</style>
  <div class="container">
    <h3 align="center" class="teal-text">
      {{school_data.name}} Accounts
    </h3>

    <form class="col s8 offset-s2" id='manage_accounts_form' method='post' action="{% url 'streamwebs:manage_accounts' school_data.id %}"> 
      {% csrf_token %}

      <!-- Approve new users -->
      <br/><br/>
      <br/><br/>


      <div class="row">
        <div class="col s6">
          <h5>Approve New Users</h5>
        </div>
        <div class="col s6 right">
          <button href="{% url 'streamwebs:manage_accounts' school_data.id %}" id="btn_apply" type="submit"
              class="wave-effects wave-light btn white-text teal darken-3 right" style="margin-left:20px">
              Apply
          </button>
          <a href="{% url 'streamwebs:add_account' school_data.id %}" id="btn_add_account"
              class="wave-effects wave-light btn white-text teal darken-3 right" style="margin-left:20px">
              Add Account
          </a>
        </div>
      </div>
      <table class="bordered striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th class="center-content-horizontal">Editor</th>
            <th class="center-content-horizontal">Contributor</th>
            <th class="center-content-horizontal">Deny</th>
          </tr>
        </thead>
        <tbody>
          {% for user_profile in new_users %}
            <tr>
              <td>{{ user_profile.user.username }}</td>
              <td>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
              <td class="center-content-horizontal">
                <input type="checkbox" name="nu_editor" id="nu_editor_c_{{user_profile.user.id}}" value="{{user_profile.user.id}}"/>
                <label for="nu_editor_c_{{user_profile.user.id}}"></label>
              </td>
              <td class="center-content-horizontal">
                <input type="checkbox" name="nu_contributor" id="nu_contributor_c_{{user_profile.user.id}}" value="{{user_profile.user.id}}"/>
                <label for="nu_contributor_c_{{user_profile.user.id}}"></label>
              </td>
              <td class="center-content-horizontal">
                <input type="checkbox" name="nu_deny" id="nu_deny_c_{{user_profile.user.id}}" value="{{user_profile.user.id}}"/>
                <label for="nu_deny_c_{{user_profile.user.id}}"></label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      <!-- Editors -->
      <br/><br/>
      <br/><br/>


      <div class="row">
        <div class="col s4">
          <h5>Editors</h5>
        </div>
        <div class="col s8 right">
          <button href="#" id="btn_delete_editors" type="submit"
              class="wave-effects wave-light btn white-text red darken-3 right" style="margin-left:20px">
              Delete Selected
          </button>
          <button href="#" id="btn_demote" type="submit"
              class="wave-effects wave-light btn white-text orange darken-3 right" style="margin-left:20px">
              Demote Selected
          </button>
        </div>
      </div>
      <table class="bordered striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>
              <input type="checkbox" id="editors_all"/>
              <label for="editors_all">All</label>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for user_profile in editor_users %}
            <tr>
              <td>{{ user_profile.user.username }}</td>
              <td>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
              <td>{{ user_profile.user.email }}</td>
              <td><a href="#"><i class="material-icons">mode_edit</i></a></td>
              <td>
                <input type="checkbox" name="editors" id="editors_{{user_profile.user.id}}" value="{{user_profile.user.id}}"/>
                <label for="editors_{{user_profile.user.id}}"></label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


      <!-- Contributors -->
      <br/><br/>
      <br/><br/>


      <div class="row">
        <div class="col s4">
          <h5>Contributors</h5>
        </div>
        <div class="col s8 right">
          <button href="#" id="btn_delete_contributors" type="submit"
              class="wave-effects wave-light btn white-text red darken-3 right" style="margin-left:20px">
              Delete Selected
          </button>
          <button href="#" id="btn_promote" type="submit"
              class="wave-effects wave-light btn white-text teal darken-3 right" style="margin-left:20px">
              Promote Selected
          </button>
        </div>
      </div>
      <table class="bordered striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <td>
              <input type="checkbox" id="contributors_all"/>
              <label for="contributors_all">All</label>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for user_profile in contributor_users %}
            <tr>
              <td>{{ user_profile.user.username }}</td>
              <td>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</td>
              <td>{{ user_profile.user.email }}</td>
              <td><a href="#"><i class="material-icons">mode_edit</i></a></td>
              <td>
                <input type="checkbox" name="contributors" id="contributors_{{user_profile.user.id}}" value="{{user_profile.user.id}}"/>
                <label for="contributors_{{user_profile.user.id}}"></label>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </form>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
