{% load staticfiles %}
{% load i18n %}

<div class="right grey lighten-5">
  <ul>
    <li><a href="{% url 'streamwebs:sites' %}"
           class="teal-text text-darken-3">{% trans "Sites" %}</a></li>
    <li><a href="{% url 'streamwebs:schools' %}"
          class="teal-text text-darken-3">{% trans "Schools" %}</a></li>
    <li><a href="{% url 'streamwebs:resources' %}"
           class="teal-text text-darken-3">{% trans "Resources" %}</a></li>

  {% if user.is_authenticated %}
    {% if perms.streamwebs.can_view_stats %}
    <li><a href="{% url 'streamwebs:stats' %}" class="teal-text text-darken-3">{% trans "View Site Statistics" %}</a></li>
    {% endif %}

    {% if perms.streamwebs.can_promote_users %}
    <li><a href="{% url 'streamwebs:user_promo' %}" class="teal-text text-darken-3">{% trans "Manage Users" %}</a></li>
    {% endif %}

    <li><a href="{% url 'streamwebs:account' %}" class="teal-text text-darken-3">Account</a></li>
    <li><a href="{% url 'streamwebs:logout' %}" class="teal-text text-darken-3">{% trans "Logout" %}</a></li>

  {% else %}
    <li><a href="{% url 'streamwebs:register' %}" class="teal-text text-darken-3">{% trans "Create Account" %}</a></li>
    <li><a href="{% url 'streamwebs:login' %}?next={{ request.path }}" class="teal-text text-darken-3">{% trans "Login" %}</a></li>
  {% endif %}
  </ul>
</div>
