{% load staticfiles %}
{% load i18n %}

<div id="topbar">
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a href="{% url 'streamwebs:sites' %}">Sites</a></li>
        <li><a href="{% url 'streamwebs:index' %}">Resources</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'streamwebs:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'streamwebs:login' %}">Login</a></li>
            <li><a href="{% url 'streamwebs:register' %}">Create Account</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
