{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}
{% load i18n %}

{% block title %}{{ site.site_name  }} Registration Confirmation - {% trans "Streamwebs" %}{% endblock %}

{% block body_title %}{% endblock %}

{% block content %}
<style>
  label {
    color: black; !important
  }
</style>
  <div class="container">
    <div class="row center-align">
        <h3 class="teal-text">
          Account Request Sent
        </h3>
        <h4>
          Success
        </h4>
    </div>
    <div class="row">
      <div align="center" class="col s12">
        <p>
        Your registration details have been successfully recorded and a notification as been
        sent to the responsible admins.  They should respond shortly with their approval or denial.
        </p>
      </div>
    </div>
    <br/>
    <div class="row center-align">
        <a href="/" id="back" class="wave-effects wave-light btn white-text teal darken-3 bold" style="margin-right: 30px;">
          Return
        </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
