{% extends 'streamwebs/base.html' %}
{% block content %}
    {% if registered %}
    <strong>You have successfully created a StreamWebs account.</strong>
    <a href='/streamwebs/'>Return to home</a><br />

    {% else %}
    <strong>Create an account.</strong><br />

    <form id='user_form' method='post' action='/streamwebs/register/'>
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type='submit' name='submit' value='Create Account' />
    </form>
    {% endif %}
{% endblock %}
