{% extends 'streamwebs/base.html' %}
{% load i18n %}

{% block title %}{% trans "Register" %} -{% endblock %}

{% block body_title %}{% trans "Register" %}{% endblock %}

{% block content %}

<script>
  function uncheck_perms(checkbox) {
    var checkboxes = document.getElementById("mutually_exclusive_checkboxes").getElementsByTagName('input')
    for (i = 0; i < checkboxes.length; i++) { 
      if (checkboxes[i].type == "checkbox" && checkboxes[i] != checkbox) {
        checkboxes[i].checked = false;
      }
    }
  }
  </script>

  <style>
    /* center captcha */
    div.g-recaptcha > div {
      margin: 0 auto;
    }
    div.center-content{
      margin-top: 10px;
    }
  </style>

  <div class="container">
    <form id='user_form' method='post'
      action="{% url 'streamwebs:register' %}" novalidate>
      {% csrf_token %}
      
      <br/><br/>

      <div class="row" id="select_school">
        <!-- School -->
        <div class="input-field col s6 offset-s2">
            {{ profile_form.school }}
          <label for="{{ profile_form.school.id_for_label }}">
            {% trans "School" %}
          </label>
        </div>
        <div class="input-field col s2">
          <a class="btn waves-effect teal darken-3" id="org_create"
            style="display: block; width: 100%;">
            {% trans "New" %}
          </a>
        </div>
      </div>

      <!-- New organization -->
      <div class="card-panel" id="org_section" style="display:none;">
        <a class="btn waves-effect teal darken-3" id="org_cancel">
          {% trans "Cancel New Organization" %}
        </a>
        <div class="row">
          <div class="col s8 offset-s2">
            <!-- Title -->
            <h3 class="teal-text col s12 center">New Organization</h3>

            <!-- Name -->
            <div class="input-field col s12">
              <label for="{{ school_form.name.id_for_label }}">
                {% trans "Name" %}
              </label>
              {{ school_form.name }}
              {{ school_form.name.errors | striptags }}
            </div>
           
            <!-- Type -->
            <div class="input-field col s12">
              <label for="{{ school_form.school_type.id_for_label }}" id="school_type" 
                      name="school_type">
                      {% trans "Type:" %}
              </label>
              <br/>
              <ul>
                {% for radio in school_form.school_type %}
                  {{ radio.tag }}
                  <label for="{{ radio.id_for_label }}">
                    {{ radio.choice_label }}
                  </label>
                  {{ radio.tag.errors | striptags }}
                {% endfor %}
              </ul>
            </div>
            
            <!-- Address -->
            <div class="input-field col s12">
              <label for="{{ school_form.address.id_for_label }}">{% trans "Address" %}</label>
              {{ school_form.address }}
              {{ school_form.address.errors | striptags }}
            </div>

            <!-- City -->
            <div class="input-field col s12">
              <label for="{{ school_form.city.id_for_label }}">{% trans "City" %}</label>
              {{ school_form.city }}
              {{ school_form.city.errors | striptags }}
            </div>

            <!-- Province -->
            <div class="input-field col s12">
              <label for="{{ school_form.province.id_for_label }}">{% trans "State" %}</label>
              {{ school_form.province }}
              {{ school_form.province.errors | striptags }}
            </div>

            <!-- Zip code -->
            <div class="input-field col s12">
              <label for="{{ school_form.zipcode.id_for_label }}">{% trans "Zipcode" %}</label>
              {{ school_form.zipcode }}
              {{ school_form.zipcode.errors | striptags }}
            </div>

          </div>
        </div>
      </div>

      <!-- Username, email, password -->
      <div class="row">
        <!-- First name -->
        <div class="input-field col s4 offset-s2">
          <label for="{{ user_form.first_name.id_for_label }}">
            {% trans "First Name" %}
          </label>
          {{ user_form.first_name }}
          {{ user_form.first_name.errors }}
        </div>
        <!-- Last name -->
        <div class="input-field col s4">
          <label for="{{ user_form.last_name.id_for_label }}">
            {% trans "Last Name" %}
          </label>
          {{ user_form.last_name }}
          {{ user_form.last_name.errors }}
        </div>

        <!-- Email -->
        <div class="input-field col s8 offset-s2">
          <label for="{{ user_form.email.id_for_label }}">
              {% trans "Email" %}
            </label>
          {{ user_form.email }}
          {{ user_form.email.errors }}
        </div>
        <!-- Username -->
        <div class="input-field col s8 offset-s2">
          <label for="{{ user_form.username.id_for_label }}">
            {% trans "Username" %}
          </label>
          {{ user_form.username }}
          {{ user_form.username.errors }}
        </div>
        <!-- Password -->
        <div class="input-field col s8 offset-s2">
          <label for="{{ user_form.password.id_for_label }}">
              {% trans "Password" %}
            </label>
          {{ user_form.password }}
          {{ user_form.password.errors }}
        </div>
        <!-- Password verify -->
        <div class="input-field col s8 offset-s2">
          <label for="{{ user_form.password_check.id_for_label }}">
              {% trans "Verify Password" %}
            </label>
          {{ user_form.password_check }}
          {{ user_form.password_check.errors }}
        </div>
        <!-- Captcha -->
        <div class="input-field col s8 offset-s2">
          <label for="{{ profile_form.captcha.id_for_label }}"></label>
          {{ profile_form.captcha }}
          {{ profile_form.captcha.errors }}
        </div>
        <!-- Submit button -->
        <div class="col s8 offset-s2">
          <div class="center-content">
            <button class="btn wave-effect waves teal darken-3"
              type="submit" name="submit" value="{% trans "Create Account" %}">
              {% trans "Create Account" %}
            </button>
          </div>
        </div>
      </div> 
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript"
          src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      // Initial stuff
      $('select').material_select();

      $('#org_create').click(function(){
        $('#select_school').slideUp(500);
        $('#org_section').slideDown(500);
        //$('#org_section').find('input').validate({ignore: ".ignore"})
        $('#org_section').find('input').prop('disabled', false);
      });
      $('#org_cancel').click(function(){
        $('#select_school').slideDown(500);
        $('#org_section').slideUp(500);
        //$('#org_section').find('input').validate({ignore: ".hidden"})
        $('#org_section').find('input').prop('disabled', true);
      });

    });
  </script>
{% endblock %}
