{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% trans "Data Sheets" %}<p>
{% for sheet in data %}
    {% if perms.resources.can_add %}
        <!-- Should include javascript to move elements up/down. -->
        <!-- See model.Resource.sort_order -->
    {% endif %}
    <p><a href={{ sheet.downloadable.url }}>
        <img src={{ sheet.thumbnail.url }}><br>
        {{ sheet.name }}
    </a>
{% endfor %}

{% if perms.resources.can_add %}
    <hr>
    {% if added %}
        Resource Added.
    {% endif %}
    <form id='add-resource-form' action='' method='POST'
        enctype="multipart/form-data">
    {% trans "Add new data sheet:" %}
    {% csrf_token %}
    {{ resource_form.as_p }}
    <input type="submit" value="Add Resource">
    </form>
{% endif %}
{% endblock %}
