{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% trans "Data Sheets:" %}<br>
{% for sheet in data_sheets %}
    <a href={{ sheet.downloadable.url }}>
        <img src={{ sheet.thumbnail.url }}><br>
        {{ sheet.name }}
    </a>.<br>
    <!-- name: {{ sheet.name }}<br> -->
    <!-- res_type: {{ sheet.res_type }}<br> -->
    <!-- downloadable: {{ sheet.downloadable }}<br> -->
    <!-- thumbnail: {{ sheet.thumbnail }}<br> -->
    thumbnail.url: {{ sheet.thumbnail.url }}<br>
    media_url: {{ MEDIA_URL }}<br>
{% endfor %}

{% if perms.resources.can_add %}
    <p>
    {% if added %}
        Resource Added{{ MEDIA_URL }}!
    {% endif %}
    <form id='add-resource-form' action='' method='POST'
        enctype="multipart/form-data">
    {% trans "Add new data sheet:" %}
    {% csrf_token %}
    {{ resource_form.as_p }}
    <input type="submit" value="Add Resource">
    </form>
{% endif %}
{% endblock %}
