
{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% block title %}Sites -{% endblock %}
{% load i18n %}
{% block scripts %}

<script src="//maps.google.com/maps/api/js"></script>
<script type="application/javascript">
    var sites = [];
    {% for site in sites %}
    sites.push({
        slug: "{{site.slug}}",
        name: "{{site.name}}",
        type: "{{site.site_type}}",
        description: "{{site.description}}",
        lat: {{site.location.y}},
        lng: {{site.location.x}},
    });
    {% endfor %}
</script>
<script type="application/javascript" src="{% static 'streamwebs/js/sites.js' %}"></script>
{% endblock %}

{% block body_title %}{% trans "Sites" %}{% endblock %}

{% block content %}

    <div id="site_search">
        <label for="search_bar">{% trans "Search sites:" %}</label>
        <input type="search" id="search_bar" name="search" oninput="search()" />
        <label for="steward_box">{% trans "Student Stewardship Project" %}</label>
        <input type="checkbox" id="steward_box" name="stewardship" value="steward" onchange="search()" />
        <label for="salmon_box">{% trans "Salmon Watch" %}</label>
        <input type="checkbox" id="salmon_box" name="salmon_watch" value="salmon" onchange="search()" />
        <label for="available_box">{% trans "Available Project" %}</label>
        <input type="checkbox" id="available_box" name="available" value="available" onchange="search()" />
        <div id="search_dropdown">
        {% for site in sites %}
            <div name="{{site.slug}}" class="search_item {{site.site_type}}" style="display: none">
                <p name="{{site.slug}}" onclick="submit_search(this)">{{site.name}}</p>
            </div>
        {% endfor %}
        </div>
    </div>

    <div id="site_map">
        <div id="map"></div>
    </div>

    <div id="site_select">
        <select id="site_list" name="site" required="true">
        {% for site in sites %}
            <option value="{{site.slug}}">{{site.name}}</option>
        {% endfor %}
        </select>
        <input type="submit" name="Submit" class="Submit" value="{% trans "Select" %}" onclick="submit_select()" />
    </div>
{% endblock %}
