{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}

{% block title %}{{site.site_name}} - Streamwebs{% endblock %}

{% block body_title %}{{site.site_name}}{% endblock %}

{% block scripts %}
<script type="application/javascript">
    const site_name = '{{ site.site_name }}';
    const site_slug = '{{ site.site_slug }}';
    const site_location = {x: {{ site.location.x }}, y: {{ site.location.y }} };

    const sheet_data = {{ data|safe }};
    const page_count = {{ pages }};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api }}"></script>
<script type="application/javascript" src="{% static 'streamwebs/js/site_detail.js' %}"></script>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
{% endif %}

<!-- site info -->
<div class="row">
        <div class="col s12 m6 center-align">
            {% if site.image %}
            <img src="{{ site.image.url }}" alt="site image" />
            {% else %}
            <img src="{% static 'streamwebs/images/img-default.jpg' %}" alt="site image" />
            {% endif %}
        </div>
        <div class="col s12 m6 center-align">
            <p>{{ site.description }}</p>
            <p>Created: {{ site.created|date:"m-d-Y H:i T" }}</p>
            <p>Last modified: {{ site.modified|date:"m-d-Y H:i T" }}</p>
        </div>
</div>
<div class="row">
    {% if has_wq or has_macros %}
    <div class="col s12 m2 graphs">
        <h4>Graphs</h4>
        {% if has_wq %}
        <p><a href="{% url 'streamwebs:graph_water' site.site_slug %}">
            <img src="{% static 'streamwebs/images/graph-wq.png' %}" alt="water quality graphs" />
        </a></p>
        {% endif %}
        {% if has_macros %}
        <p><a href="{% url 'streamwebs:graph_macros' site.site_slug %}">
            <img src="{% static 'streamwebs/images/graph-macros.png' %}" alt="macroinvertebrate graphs" />
        </a></p>
        {% endif %}
    </div>
    {% endif %}

    <div class="col s12 m10 l5">
        <ul class="collection" id="data-sheet-list">
        </ul>
        <ul class="pagination">
            <li id="first-page" class="disabled"><a href="#1">
                <i class="material-icons">chevron_left</i>
            </a></li>
            <li id="page-1" class="page-select waves-effect"><a href="#1">1</a></li>
            {% for i in data_len_range %}
            <li id="page-{{ i }}" class="page-select waves-effect"><a href="#{{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li id="last-page" class="disabled"><a href="#{{ pages }}">
                <i class="material-icons">chevron_right</i>
            </a></li>
        </ul>
    </div>
    <div class="col m12 l5">
        <div id="map"></div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 offset-m8">
        <a class="dropdown-button btn" href="#"data-activates="new-data-dropdown">
            Add data for this site
        </a>
        <ul id="new-data-dropdown" class="dropdown-content">
            <li><a href="{% url 'streamwebs:water_quality_edit' site_slug=site.site_slug %}">Water quality</a></li>
            <li><a href="{% url 'streamwebs:macroinvertebrate_edit' site.site_slug %}">Macroinvertebrates</a></li>
            <li><a href="{% url 'streamwebs:riparian_transect_edit' site.site_slug %}">Riparian transect</a></li>
            <li><a href="{% url 'streamwebs:canopy_cover_edit' site.site_slug %}">Canopy Cover Survey</a></li>
            <li><a href="{% url 'streamwebs:camera_point_add' site_slug=site.site_slug %}">Photo point monitoring</a></li>
            <li><a href="{% url 'streamwebs:soil_edit' site_slug=site.site_slug %}">Soil Survey</a></li>
        </ul>
    </div>
</div>

{% endblock %}
