{% extends "streamwebs/base.html" %}
{% load staticfiles %}
{% block title %}Sites -{% endblock %}
{% load i18n %}
{% block scripts %}


<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api }}"></script>

<script type="application/javascript">
    var sites = [];
    {% for site in sites %}
        sites.push({
            id:   "{{site.id}}",
            slug: "{{site.site_slug}}",
            name: "{{site.site_name}}",
            type: "{{site.site_type}}",
            description: "{{site.description}}",
            lat: {{site.location.y}},
            lng: {{site.location.x}},
        });
    {% endfor %}
</script>
<script type="application/javascript" src="{% static 'streamwebs/js/sites.js' %}"></script>
{% endblock %}

{% block body_title %}{% trans "Sites" %}{% endblock %}

{% block content %}
    <div class="container">
        <div id="site_search">
            <div class="row">
                <nav class="search-nav col s8 cyan">
                    <div class="nav-wrapper">
                        <div class="input-field">
                            <input id="search" type="search" autocomplete="off" oninput="search()">
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>

                            <div class="search-results collection">
                            {% for site in sites %}
                                <a href="site/{{site.slug}}" class="collection-item search-item cyan-text hide">{{site.name}}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="cbox col s4 push-s1">
                    <div>
                        <input type="checkbox" id="steward_box" name="stewardship" value="steward" onchange="search()" />
                        <label for="steward_box">{% trans "Student Stewardship Project" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="salmon_box" name="salmon_watch" value="salmon" onchange="search()" />
                        <label for="salmon_box">{% trans "Salmon Watch" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="available_box" name="available" value="available" onchange="search()" />
                        <label for="available_box">{% trans "Available Project" %}</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="site_map">
            <div id="map"></div>
        </div>

        <div id="site_select">
            <a href="#!" class="dropdown-button btn select-button cyan" data-activates='dropdown'>Select Site<i class="material-icons right">arrow_drop_down</i></a>
            <ul id="dropdown" class="dropdown-content">
            {% for site in sites %}
                <li><a href="site/{{site.slug}}" class="cyan-text">{{site.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
