{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}

{% block title %}{{site.site_name}} - Streamwebs{% endblock %}

{% block body_title %}{{site.site_name}}{% endblock %}

{% block content %}
<div class="site_data">
    {% if samples %}
        <h6>Samples taken near {{site.site_name}}:</h6>
        {% for s in samples %}
            <p><a href="{% url 'streamwebs:water_quality' site.site_slug s.id %}">
                {{ s.date }}</a>, {{ s.school }}, Lat/Long: ({{ s.latitude }},
                {{ s.longitude }})</p>
        {% endfor %}
    {% else %}
        <h6>No samples found near {{site.site_name}}.</h6>
    {% endif %}
</div>

<div class="new_data">
<p><a href="{% url 'streamwebs:water_quality_edit' site_slug=site.site_slug %}">
Add New Sample</a></p>
</div>
{% endblock %}
