{% extends 'streamwebs/base.html' %}

{% load staticfiles %}
{% load filters %}
{% load i18n %}

{% block title %}{{ site.site_name  }} Camera Points- {% trans "Streamwebs" %}{% endblock %}

{% block body_title %}{% endblock %}

{% block content %}
  <br/><br/>
  <a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
      class="wave-effects wave-light btn white-text teal darken-3">
    <i class="material-icons">chevron_left</i>
    Back to <span>{{ site.site_name }}</span>
  </a>
  <div class="container">
    <h3 align="center" class="teal-text">
      {{ site.site_name }} {% trans "Camera Points List" %}
    </h3>
    <table>
      <thead>
        <tr>
          <th>Camera Point</th>
          <th>Date</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        {% for p in cp %}
          <tr>
            <td>
              <a href="{% url 'streamwebs:camera_point' site.site_slug p.id %}">
              Camera Point {{ p.letter }}
              </a>
            </td>
            <td>
              {{ p.cp_date }}
            </td>
            <td>
              {{ p.school }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
