{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Update Password {% endblock %}

{% block body_title %}{% trans "Update Password" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <form class="col s8 offset-s2" id="user_form" method="post" action="{% url 'streamwebs:update_password' %}">
        {% csrf_token %}
        <br/>
        <strong class="normal">{% trans "Change your Password:" %}</strong><br/>

        <div class="input-field col s12">
          <label for="{{ user_form.old_password.id_for_label }}">Old Password:</label>
          {{ user_form.old_password }}
          {{ user_form.old_password.errors }}
        </div>

        <div class="input-field col s12">
          <label for="{{ user_form.password.id_for_label }}">New Password:</label>
          {{ user_form.password }}
        </div>

        <div class="input-field col s12">
          <label for="{{ user_form.password_check.id_for_label }}">New Password (again):</label>
          {{ user_form.password_check }}
          {{ user_form.password_check.errors }}
        </div>

        <strong>{{ user_form.password.errors }}</strong>

        {% if old_password_incorrect %}
          <div class="row">
            <strong>Your old password is incorrect.</strong>
          </div>
        {% endif %}

        <div class="center-content">
          <button class="btn wave-effect waves-light teal darken-3" type="submit"
            name="submit" value="{% trans "Change Password" %}">
            {% trans "Change Password" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
