{% extends 'streamwebs/base.html' %}

{% load i18n %}

{% block title %} Update Site {% endblock %}
{% block body_title %}{{ site.site_name }}{% endblock %}

{% block content %}
        {% if updated %}
        <strong>{% trans 'You have successfully updated ' %}<a href="{% url 'streamwebs:site' site.site_slug %}">{{ site.site_name }}.</a></strong>
        
        {% else %}
        <form id='site_form' method='post' enctype="multipart/form-data" action={% url 'streamwebs:update_site' site.site_slug %}>
            {% csrf_token %}
            {{ site_form.media }}
            {{ site_form.as_p }}

            <input type='submit' name='submit' value='{% trans 'Update site' %}'/>
        </form>
        {% endif %}
{% endblock %}
