{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% block title %}Edit Account {% endblock %}
{% block stylesheets %}
    <style>
        .errorlist{
            color:red;
        }
    </style>
{% endblock %}
{% block body_title %}{% trans "Edit Account" %}{% endblock %}
{% block content %}
    <div class="row">
        <form class="col s8 offset-s2" id="user_form" method="post" action="{% url 'streamwebs:edit_account' %}">
            {% csrf_token %}
            <br>
            <strong>{% trans "Change your Password" %}</strong><br/>
            <div class="input-field col s12">
              <label for="{{ user_form.old_password.id_for_label }}">Old Password:</label>
              {{ user_form.old_password }}
              {{ user_form.old_password.errors }}
            </div>
            <div class="input-field col s12">
              <label for="{{ user_form.new_password.id_for_label }}">New Password:</label>
              {{ user_form.new_password }}
              {{ user_form.new_password.errors }}
            </div>
            <div class="input-field col s12">
              <label for="{{ user_form.new_password_check.id_for_label }}">New Password (again):</label>
              {{ user_form.new_password_check }}
              {{ user_form.new_password_check.errors }}
            </div>
            <input class="btn waves-effect waves-light teal darken-4" type='submit' name='update_password' value='{% trans "Change Password"%}' />
        </form>
    </div>
{% endblock %}
