{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% load verbose_names %}

{% block title %}{% trans "Add gallery video" %}{% endblock %}

{% block content %}
  <style>
    ul.errorlist ~ input {
      border-bottom-color: red;
    }
    ul.errorlist ~ div.input-field{
      border-top: 1px solid red;
    }
  </style>

  <!-- Back button -->
  <a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
      class="waves-effect wave-light btn white-text teal darken-3">
    <i class="material-icons">chevron_left</i>
    Back to <span>{{ site.site_name }}</span>
  </a>

  <div class="container">
    <h3 align="center" class="teal-text">
      {{ site.site_name }}
    </h3>
    <!-- Title -->
    <h4 align="center">{% trans 'New Gallery Video' %}</h4>

    <form enctype="multipart/form-data"
          action="" method="POST" novalidate>
      {% csrf_token %}

      <br/>
      <!-- Title -->
      <div class="row col s12">
        <div class="input-field">
          <label for="{{ video_form.title.id_for_label }}">{{ video_form.title.label }}</label>
          {{ video_form.title.errors }}
          {{ video_form.title }}
        </div>
      </div>

      <!-- Description -->
      <div class="row col s12">
        <div class="input-field">
            <label for="video_form.description.id_for_label">
              {{ video_form.description.label }}
            </label>
            {{ video_form.description.errors }}
            {{ video_form.description }}
          </div>
      </div>

      <!-- Video -->
      <div class="row col s12">
        <label>Video (supported format: mp4)</label>
        <div class="file-field input-field">
          <input id="id_video" type="file" accept='video/mp4' name="video">
          <a class="btn waves-effect teal darken-3"
             onclick="document.getElementById('id_video').click();">
            <i class="material-icons">file_upload</i>
            <span>Browse Video</span>
          </a>
          <div class="file-path-wrapper input-field">
            {{ video_form.video.errors }}
            <input class="file-path validate" type="text" placeholder="Upload video"/>
          </div>
        </div>
      </div>

      <!-- Thumbnail -->
      <div class="row col s12">
        <label>Video Thumbnail</label>
        <div class="file-field input-field">
          <input id="id_thumb" type="file" accept='image/*' name="thumbnail">
          <a class="btn waves-effect teal darken-3"
             onclick="document.getElementById('id_thumb').click();">
            <i class="material-icons">file_upload</i>
            <span>Browse Thumbnail</span>
          </a>
          <div class="file-path-wrapper input-field">
            {{ video_form.thumbnail.errors }}
            <input class="file-path validate" type="text" placeholder="Upload thumbnail"/>
          </div>
        </div>
      </div>

      <!-- Date -->
      <div class="row col s12">
        <div class="input-field">
          <label for="{{ video_form.date.id_for_label }}">{{ video_form.date.label }} (YYYY-MM-DD)</label>
          {{ video_form.date.errors }}
          {{ video_form.date }}
        </div>
      </div>
      <br/><br/>

      <!-- Submit button -->
      <div class="row">
        <button class="btn waves-effect waves-light teal darken-3" type="submit"
          name="submit" value="{% trans "Submit" %}">
          {% trans "Submit" %}<i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}

<script>
  var ERROR_TOAST = ''; // printed by data-toasts.js
  {% for field, errors in video_form.errors.items %}
    {% for error in errors %}
      // get_field_label is from verbose_names.py
      ERROR_TOAST += "{% get_field_label video_form field %}: {{ error }}<br>";
    {% endfor %}
  {% endfor %}
</script>

<script src="{% static 'streamwebs/js/data.js' %}"></script>
<script src="{% static 'streamwebs/js/data-toasts.js' %}"></script>

{% endblock %}
