{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% load verbose_names %}

{% block title %}{% trans "View gallery file" %}{% endblock %}

{% block content %}
  <style>
    ul.errorlist ~ input {
      border-bottom-color: red;
    }
    ul.errorlist ~ div.input-field{
      border-top: 1px solid red;
    }
    #delete_button {
      margin-right: 3%;
    }
  </style>

  <div>
    <!-- Back button -->
    <a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
        class="waves-effect wave-light btn white-text teal darken-3">
      <i class="material-icons">chevron_left</i>
      Back to <span>{{ site.site_name }}</span>
    </a>
    <!-- Delete button -->
    {% if perms.streamwebs.is_org_admin%}
      <a id="delete_button" 
         class="waves-effect waves-light btn red darken-3 right"
         href="{% url 'streamwebs:delete_gallery_file' site.site_slug gallery_file.id %}">
        {% trans "Delete" %}
      </a>
    {% endif %}
  </div>

  <div class="row">
    <!-- Site name -->
    <div class="col s12">
      <h3 align="center" class="teal-text">
        {{ site.site_name }}
      </h3>
    </div>
    <br/>
  </div>

    <!-- File info -->
    <div class="container">
      <div class="row">
        <b>{% trans "School" %}: </b>
        {{ gallery_file.school }}
      </div>
      <div class="row">
        <b>{% trans "Date and Time" %}: </b>
        {{ gallery_file.date_time }}
      </div>
      <div class="row">
        <b>{% trans "Filename" %}: </b>
        {{ gallery_file.filename }}
      </div>
    </div>
    <br/><br/>

    <!-- File download -->
    <div class="row">
      <div class="col s12 center">
        {% if gallery_file.gallery_file.url != None %}
        <a class="btn-large teal darken-3"
           href="{{ gallery_file.gallery_file.url }}" download>
          <i class="medium material-icons">file_download</i>
          <span>Download {{ gallery_file.filename }}</span>
        </a>
        {% else %}
        <h3>File does not exist!</h3>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

{% endblock %}
