@charset "UTF-8";

body {
    font-family: sans-serif
}

.title {
    width: 100%;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    line-height: 2.5em;
}

#map {
    width: 500px;
    height: 300px;
}

#search_bar {
    width: 352px; /* Fits with 300-wide dropdown + 50px padding + 1px border */
    height: 25px;
}

.search_item {
    background-color: white;
    color: black;
    border: thin solid black;
    width: 300px;
    padding-left: 50px;
    height: 40px;
    vertical-align: middle;
    position: absolute;
    z-index: 10;
    margin-bottom: -1px;
    cursor: auto;
}

.search_item:hover {
    background-color: rgb(196, 196, 196);
    color: black;
    cursor: pointer;
}

.datasheet-title {
  color: rgb(16, 66, 87);
}

.datasheet {
  width: 100%;
}

.datasheet table {
  margin: 0 auto;
  padding: 10px 5px 10px 20px;
}

.datasheet form table {
  margin: 0 auto;
  padding: 10px 5px 10px 20px;
}

#water-quality-temp-units {
  margin-bottom: 0;
}

#water-quality-data-table {
  margin-top: 0;
}

.field-label {
  font-weight: bold;
}

.inline-form-options {
  padding: 0 10px;
}

td.triplet:nth-child(odd) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

td.pair:nth-child(odd) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

td.pair:nth-child(even) {
  border-right: 1px solid black;
}

.data-table {
  border: 1px solid black;
  background-color: rgb(231, 241, 243);
  padding: 5px 30px 5px 10px;
}

.data-table td {
  font-weight: bold;
}

.form-cell {
  min-width: 300px;
}

/* CSS for D3 graphs; ALL FREE TO BE CHANGED */
.graph {
    width: 100%;
}

div.tolerant .bar {
    fill: #8c7853;
}

div.somewhat .bar {
    fill: #869099;
}

div.sensitive .bar {
    fill: #007d4a;
}

div.graph .line {
    fill: none;
    stroke-width: 2px;
}

.tolerant.line {
    stroke: #8c7853;
}

.somewhat.line {
    stroke: #869099;
}

.sensitive.line {
    stroke: #007d4a;
}

.sensitive.total {
    stroke: #e24431;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}