@charset "UTF-8";

/* WebKit/Blink Browsers */
::selection {
    background: #b9dce8;
}

/* Gecko Browsers */
::-moz-selection {
    background: #b9dce8;
}

.title {
    width: 100%;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    line-height: 2.5em;
}

html body {
    background-color: #fafafa;
}

#map {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.search-nav {
    /* Make the search bar behave as if it were not in a navbar */

    padding: 0 0 0 0 !important;
    margin-left: 0.75rem !important;
    margin-right: -0.75rem !important;
    margin-bottom: 0 !important;
}

#search {
    margin-bottom: 0;
}

/* Search placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

.search-results {
    margin-top: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
}

nav {
    margin-bottom: 32px;
}

.datasheet-title {
    color: rgb(16, 66, 87);
}

.datasheet {
    width: 100%;
}

.datasheet table {
    margin: 0 auto;
    padding: 10px 5px 10px 20px;
}

.datasheet form table {
    margin: 0 auto;
    padding: 10px 5px 10px 20px;
}

#water-quality-temp-units {
    margin-bottom: 0;
}

#water-quality-data-table {
    margin-top: 0;
}

.field-label {
    font-weight: bold;
}

.inline-form-options {
    padding: 0 10px;
}

td.triplet:nth-child(odd) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

td.pair:nth-child(odd) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

td.pair:nth-child(even) {
    border-right: 1px solid black;
}

.data-table {
    border: 1px solid black;
    background-color: rgb(231, 241, 243);
    padding: 5px 30px 5px 10px;
}

.data-table td {
    font-weight: bold;
}

.form-cell {
    min-width: 300px;
}

/* CSS for D3 graphs; ALL FREE TO BE CHANGED */
.graph {
    width: 100%;
}

div.tolerant .bar {
    fill: #8c7853;
}

div.somewhat .bar {
    fill: #869099;
}

div.sensitive .bar {
    fill: #007d4a;
}

div.graph .line {
    fill: none;
    stroke-width: 2px;
}

.tolerant.line {
    stroke: #8c7853;
}

.somewhat.line {
    stroke: #869099;
}

.sensitive.line {
    stroke: #007d4a;
}

.sensitive.total {
    stroke: #e24431;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}