@charset "UTF-8";

/* Reset */
p {
    margin: 0;
}

/* WebKit/Blink Browsers */
::selection {
    background: #b9dce8;
}

/* Gecko Browsers */
::-moz-selection {
    background: #b9dce8;
}


/* Base.html styling */
html,
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    overflow: auto;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

div.page-wrap {
    position: relative;
    width: 100%;
    background: url("images/streamrocks.png") no-repeat fixed;
    background-size: 100%;
}

div.header {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

div.header > a.logo {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

nav {
    box-shadow: unset;
}

nav#navbar {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
    height: 66px;
    width: 100%;
    background: white;
}

nav#navbar div#nav-container {
    background: white;
    height: 66px;
    width: 100%;
    border-bottom: 2px white solid;
    transition: border 300ms linear 0s;
}

nav#navbar div#nav-logo {
    color: black; /* Used for h3, can be taken out */
    height: 64px;
    width: 250px;
    float: left;
    display: none;
}

div.nav-float {
    position: fixed;
    top: 0px;
    z-index: 10;
    border-bottom: 2px #95A5A6 solid !important;
}

.inner-wrap {
    width: 100%;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    padding: 25px 0px 80px 0px;
    position: relative;
    z-index: 3;
}

.content {
    z-index: 4;
}

footer {
    width: 100%;
    height: 300px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    background: url("images/streamrocks.png") no-repeat fixed;
}

footer:hover > div#filter {
    background: rgba(0, 0, 0, 0.55);
}

div#filter {
    width: 100%;
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: background 0.3s linear 0s;
}

div#footer {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: white;
}

a#language-button {
    height: 1.5em;
    line-height: 1.6em;
    font-size: 1.2em;
    padding-left: .5em;
    padding-right: .5em;
}

nav#navbar {
    height: 64px;
    width: 100%;
    background: white;
}

nav#navbar div#nav-container {
    height: 64px;
    width: 100%;
}

div.nav-float {
    position: fixed;
    top: 0;
}

nav a.btn,
ul#languages {
    margin-left: 10px;
}




/* CSS for D3 graphs; ALL FREE TO BE CHANGED */
.graph {
    position: relative;
    width: 100%;
}

div.tolerant .bar {
    fill: #8c7853;
}

div.somewhat .bar {
    fill: #869099;
}

div.sensitive .bar {
    fill: #007d4a;
}

div.graph .line {
    fill: none;
    stroke-width: 2px;
}

.tolerant.line {
    stroke: #8c7853;
}

.somewhat.line {
    stroke: #869099;
}

.sensitive.line {
    stroke: #007d4a;
}

.sensitive.total {
    stroke: #e24431;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

table input {
    width: 90% !important;
}

table .row {
    margin: 0 !important;
}

i {
    vertical-align: middle;
}

.collapse {
    opacity: 0;
    height: 0;
    padding: 0 8px;
    overflow: hidden;
    -webkit-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.uncollapse {
    opacity: 1;
    height: auto;
    padding: 8px;
}

.collapse-btn {
    cursor: pointer;
}

.infogroup .row {
    margin-bottom: 0;
}



/* Genral styling for all sites */

/* Search placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.search-results {
    margin-top: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
}

div.center-content {
    text-align: center;
}

.errorlist {
    color: #D35400;
}

strong.message {
    color: #D35400;
}

.material-icons {
    font-size: 1.5em;
}

.brand-logo a {
    color: inherit;
}

.nav-wrapper i {
    line-height: 36px;
}

#date {
    margin-bottom: 5px;
}

<<<<<<< HEAD
#detail_map{
  height: 266.017px;
=======
.rowchk {
    margin-top: 23px;
}

.rowchk > label {
    margin-right: 15px;
}

.data-table td {
    font-weight: bold;
}

.form-cell {
    min-width: 300px;
>>>>>>> fecb416c2d47a16db7fd04caf392b1f2c50057cc
}
