{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "Add a new camera point" %}{% endblock %}
{% block body_title %}{% trans "Add a new camera point" %}{% endblock %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        {% if added %}
        <strong>{% trans "You have successfully added a new camera point." %}</strong>
        {% else %}
        <h3 align="center">
          <a href="{% url 'streamwebs:site' site.site_slug %}">
              {{ site.site_name }}
          </a>
        </h3>
        <h4 align="center">{% trans 'New Photo Point Sampling' %}</h4>
          <form id='pp_monitoring_form' method='post' enctype='multipart/form-data'>
            {% csrf_token %}

            <p>{{ camera_form.site }}</p>

            <div class="loc-input">
              <!-- CAMERA FORM: -->
              {{ camera_form.media }}
              <div class="container">
                <h5>Location Input</h5>
                <div class ="input-field">
                    {{ camera_form.cp_date.label }}
                    {{ camera_form.cp_date.errors | striptags }}
                    {{ camera_form.cp_date }}
                </div>
                <div class ="input-field">
                    {{ camera_form.description.label }}
                    {{ camera_form.description.errors | striptags }}
                    {{ camera_form.description }}
                </div>
                <div class ="input-field">
                    {{ camera_form.map_datum.label }}
                    {{ camera_form.map_datum.errors | striptags }}
                    {{ camera_form.map_datum }}
                </div>
                <div class ="input-field">
                    {{ camera_form.location.label }}
                    {{ camera_form.location.errors | striptags }}
                    {{ camera_form.location }}
                </div>
              </div>
              <!-- END CAMERA FORM -->
            </div>
            <br>
            <div class="photo-input">
              <h5>Photo Input</h5>
              <div class="row">
                {{ pp_formset.management_form }}
                {% for p_form in pp_formset %}
                <div class="col s4">
                  <h6>Photo #{{ forloop.counter }}</h6>
                  <div class ="input-field">
                      {{ p_form.compass_bearing.label }}
                      {{ p_form.compass_bearing.errors | striptags }}
                      {{ p_form.compass_bearing }}
                  </div>
                  <div class ="input-field">
                      {{ p_form.distance.label }}
                      {{ p_form.distance.errors | striptags }}
                      {{ p_form.distance }}
                  </div>
                  <div class ="input-field">
                      {{ p_form.camera_height.label }}
                      {{ p_form.camera_height.errors | striptags }}
                      {{ p_form.camera_height }}
                  </div>
                  <div class ="input-field">
                    {{ p_form.notes.label }}
                    {{ p_form.notes.errors | striptags }}
                    {{ p_form.notes }}
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                {{ ppi_formset.management_form }}
                {% for ppi_form in ppi_formset %}
                <div class="col s4">
                  <div class ="input-field">
                      {{ ppi_form.image.label }}
                      {{ ppi_form.image.errors | striptags }}
                      {{ ppi_form.image }}
                  </div>
                  <div class ="input-field">
                      {{ ppi_form.date.label }}
                      {{ ppi_form.date.errors | striptags }}
                      {{ ppi_form.date }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <button class="btn-large
             waves-effect waves-light" type="submit" name="action" value='Submit'>Submit
              <i class="material-icons right">send</i>
            </button>
        </form>
        {% endif %}

    {% else %}
    <p>{% trans "You must be logged in to submit data." %}</p>
    <a href="{% url 'streamwebs:login' %}">{% trans "Log in here." %}</a>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    $(function() {
       $('p:has(#id_site)').css('display', 'none');
       $('#id_site').val('{{ site.id }}');
    });
</script>
{% endblock %}
