{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block body_title %}{% trans 'View a camera point' %}{% endblock %}
{% block content %}

<!-- CP info -->
<div>
    <p>Date established: {{ cp.cp_date|date:"m-d-Y" }}</p>
    <p>Location: {{ cp.location }}</p>
    <p>Map datum: {{ cp.map_datum }} </p>
    <p>Description: {{ cp.description }}</p>
</div>

<!-- CP's PP info, including PPIs -->
<div>
    <h2>Photo points</h2>
    {% for pp in pps %}
    <h3><a href="{% url 'streamwebs:photo_point' site.site_slug cp.id pp.id %}">
         Photo point {{ pp.number }}</a></h3>
        <ul>
            <li>Date established: {{ pp.pp_date|date:"m-d-Y" }}</li>
            <li>Compass bearing: {{ pp.compass_bearing }}</li>
            <li>Distance from camera point: {{ pp.distance }}</li>
            <li>Camera height: {{ pp.camera_height }}</li>
            <li>Notes: {{ pp.notes }}</li>
        </ul>

        {% for pp_num, img_set in pp_images.items %}
            {% if pp_num == pp.number %}
                {% for img in img_set %}
                <p>{{ img.date|date:"m-d-Y" }}</p>
                <p><img src="{{ img.image.url }}" alt="pp image" /></p>
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endfor %}

</div>
{% endblock %}
