{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "Add Canopy Cover Survey" %}{% endblock %}
{% block body_title %}{% trans "Add Canopy Cover Survey" %}{% endblock %}

{% block content %}
<style>
    #canopies {
        cursor: default;
    }

    p.header {
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        line-height: 10px;
    }

    #canopy-north {
        margin-left: 700px;
        margin-bottom: -150px;
    }

    #canopy-west {
        float: left;
        margin-left: 475px;
        margin-right: 150px;
        margin-bottom: -150px;
    }

    #canopy-east {
        float: left;
        margin-bottom: -150px;
    }

    #canopy-south {
        margin-left: 700px;
    }

    .canopy {
        width: 300px;
        height: 350px;
        padding: 1px 1px 0 0;
    }

    .canopy-square {
        width: 50px;
        height: 50px;
        border: solid black 1px;
        float: left;
        margin: -1px -1px 0 0;

        text-align: center;
        line-height: 50px;
        font-size: 2em;
        font-weight: bold;
        pointer-events: all;
    }

    .canopy-square.hidden {
        visibility: hidden;
    }
</style>

{% if user.is_authenticated %}
    {% if added %}
        <strong> "You have successfully submitted your Canopy Cover Survey." </strong>

    {% else %}
    <h3 align="center">
        <a href="{% url 'streamwebs:site' site.site_slug %}">
            {{ site.site_name }}
        </a>
    </h3>
    <h4 align="center">{% trans 'New Canopy Cover Sampling' %}</h4>
    <form id='canopy_cover_form' method='post'>
    {% csrf_token %}
        <table> <!-- main cc info table -->
            <tr>{{ canopy_cover_form.non_field_errors }}</tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.school.label }}</th>
                <td>{{ canopy_cover_form.school }}</td>
                <td>{{ canopy_cover_form.school.errors }}</td>
            </tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.date_time.label }}</th>
                <td>{{ canopy_cover_form.date_time }}</td>
                <td>{{ canopy_cover_form.date_time.errors }}</td>
            </tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.weather.label }}</th>
                <td>{{ canopy_cover_form.weather }}</td>
                <td>{{ canopy_cover_form.weather.errors }}</td>
            </tr>
            <tr style='display: none'>
                <th align='left'>{{ canopy_cover_form.north_cc.label }}</th>
                <td id='north-form'>{{ canopy_cover_form.north_cc }}</td>
                <td>{{ canopy_cover_form.north_cc.errors }}</td>
            </tr>
            <tr style='display: none'>
                <th align='left'>{{ canopy_cover_form.east_cc.label }}</th>
                <td id='east-form'>{{ canopy_cover_form.east_cc }}</td>
                <td>{{ canopy_cover_form.east_cc.errors }}</td>
            </tr>
            <tr style='display: none'>
                <th align='left'>{{ canopy_cover_form.west_cc.label }}</th>
                <td id='west-form'>{{ canopy_cover_form.west_cc }}</td>
                <td>{{ canopy_cover_form.west_cc.errors }}</td>
            </tr>
            <tr style='display: none'>
                <th align='left'>{{ canopy_cover_form.south_cc.label }}</th>
                <td id='south-form'>{{ canopy_cover_form.south_cc }}</td>
                <td>{{ canopy_cover_form.south_cc.errors }}</td>
            </tr>

            <tr>
                <td>
                    <div id="canopies">
                        <div id="canopy-north" class="canopy">
                            <p class="header">North</p>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-0-0">A</div>
                            <div class="canopy-square shown" id="square-0-1">B</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-0-2">C</div>
                            <div class="canopy-square shown" id="square-0-3">D</div>
                            <div class="canopy-square shown" id="square-0-4">E</div>
                            <div class="canopy-square shown" id="square-0-5">F</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square shown" id="square-0-6">G</div>
                            <div class="canopy-square shown" id="square-0-7">H</div>
                            <div class="canopy-square shown" id="square-0-8">I</div>
                            <div class="canopy-square shown" id="square-0-9">J</div>
                            <div class="canopy-square shown" id="square-0-10">K</div>
                            <div class="canopy-square shown" id="square-0-11">L</div>

                            <div class="canopy-square shown" id="square-0-12">M</div>
                            <div class="canopy-square shown" id="square-0-13">N</div>
                            <div class="canopy-square shown" id="square-0-14">O</div>
                            <div class="canopy-square shown" id="square-0-15">P</div>
                            <div class="canopy-square shown" id="square-0-16">Q</div>
                            <div class="canopy-square shown" id="square-0-17">R</div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-0-18">S</div>
                            <div class="canopy-square shown" id="square-0-19">T</div>
                            <div class="canopy-square shown" id="square-0-20">U</div>
                            <div class="canopy-square shown" id="square-0-21">V</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-0-22">W</div>
                            <div class="canopy-square shown" id="square-0-23">X</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                        </div>

                        <div id="canopy-west" class="canopy">
                            <p class="header">West</p>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-1-0">A</div>
                            <div class="canopy-square shown" id="square-1-1">B</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-1-2">C</div>
                            <div class="canopy-square shown" id="square-1-3">D</div>
                            <div class="canopy-square shown" id="square-1-4">E</div>
                            <div class="canopy-square shown" id="square-1-5">F</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square shown" id="square-1-6">G</div>
                            <div class="canopy-square shown" id="square-1-7">H</div>
                            <div class="canopy-square shown" id="square-1-8">I</div>
                            <div class="canopy-square shown" id="square-1-9">J</div>
                            <div class="canopy-square shown" id="square-1-10">K</div>
                            <div class="canopy-square shown" id="square-1-11">L</div>

                            <div class="canopy-square shown" id="square-1-12">M</div>
                            <div class="canopy-square shown" id="square-1-13">N</div>
                            <div class="canopy-square shown" id="square-1-14">O</div>
                            <div class="canopy-square shown" id="square-1-15">P</div>
                            <div class="canopy-square shown" id="square-1-16">Q</div>
                            <div class="canopy-square shown" id="square-1-17">R</div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-1-18">S</div>
                            <div class="canopy-square shown" id="square-1-19">T</div>
                            <div class="canopy-square shown" id="square-1-20">U</div>
                            <div class="canopy-square shown" id="square-1-21">V</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-1-22">W</div>
                            <div class="canopy-square shown" id="square-1-23">X</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                        </div>

                        <div id="canopy-east" class="canopy">
                            <p class="header">East</p>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-2-0">A</div>
                            <div class="canopy-square shown" id="square-2-1">B</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-2-2">C</div>
                            <div class="canopy-square shown" id="square-2-3">D</div>
                            <div class="canopy-square shown" id="square-2-4">E</div>
                            <div class="canopy-square shown" id="square-2-5">F</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square shown" id="square-2-6">G</div>
                            <div class="canopy-square shown" id="square-2-7">H</div>
                            <div class="canopy-square shown" id="square-2-8">I</div>
                            <div class="canopy-square shown" id="square-2-9">J</div>
                            <div class="canopy-square shown" id="square-2-10">K</div>
                            <div class="canopy-square shown" id="square-2-11">L</div>

                            <div class="canopy-square shown" id="square-2-12">M</div>
                            <div class="canopy-square shown" id="square-2-13">N</div>
                            <div class="canopy-square shown" id="square-2-14">O</div>
                            <div class="canopy-square shown" id="square-2-15">P</div>
                            <div class="canopy-square shown" id="square-2-16">Q</div>
                            <div class="canopy-square shown" id="square-2-17">R</div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-2-18">S</div>
                            <div class="canopy-square shown" id="square-2-19">T</div>
                            <div class="canopy-square shown" id="square-2-20">U</div>
                            <div class="canopy-square shown" id="square-2-21">V</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-2-22">W</div>
                            <div class="canopy-square shown" id="square-2-23">X</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                        </div>

                        <div id="canopy-south" class="canopy">
                            <p class="header">South</p>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-3-0">A</div>
                            <div class="canopy-square shown" id="square-3-1">B</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-3-2">C</div>
                            <div class="canopy-square shown" id="square-3-3">D</div>
                            <div class="canopy-square shown" id="square-3-4">E</div>
                            <div class="canopy-square shown" id="square-3-5">F</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square shown" id="square-3-6">G</div>
                            <div class="canopy-square shown" id="square-3-7">H</div>
                            <div class="canopy-square shown" id="square-3-8">I</div>
                            <div class="canopy-square shown" id="square-3-9">J</div>
                            <div class="canopy-square shown" id="square-3-10">K</div>
                            <div class="canopy-square shown" id="square-3-11">L</div>

                            <div class="canopy-square shown" id="square-3-12">M</div>
                            <div class="canopy-square shown" id="square-3-13">N</div>
                            <div class="canopy-square shown" id="square-3-14">O</div>
                            <div class="canopy-square shown" id="square-3-15">P</div>
                            <div class="canopy-square shown" id="square-3-16">Q</div>
                            <div class="canopy-square shown" id="square-3-17">R</div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-3-18">S</div>
                            <div class="canopy-square shown" id="square-3-19">T</div>
                            <div class="canopy-square shown" id="square-3-20">U</div>
                            <div class="canopy-square shown" id="square-3-21">V</div>
                            <div class="canopy-square hidden"></div>

                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square shown" id="square-3-22">W</div>
                            <div class="canopy-square shown" id="square-3-23">X</div>
                            <div class="canopy-square hidden"></div>
                            <div class="canopy-square hidden"></div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr></tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.est_canopy_cover.label }}</th>
                <td id="total">{{ canopy_cover_form.est_canopy_cover }}</td>
                <td>{{ canopy_cover_form.est_canopy_cover.errors }}</td>
            </tr>
        </table> <!-- end canopy cover -->
        <input type='submit' name='submit' value='Submit'/>
    </form>
    {% endif %}

{% else %}
    <p>{% trans "You must be logged in to submit data." %}</p>
    <a href='/streamwebs/login/'>{% trans "Log in here." %}</a>
{% endif %}
{% endblock %}

{% block scripts %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script>
        $('select').material_select();
    </script>
    <script type="application/javascript"
        src="{% static 'streamwebs/js/data/edit/canopy_cover.js' %}">
    </script>
{% endblock %}
