{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "Add Canopy Cover Survey" %}{% endblock %}
{% block body_title %}{% trans "Add Canopy Cover Survey" %}{% endblock %}
{% block content %}

    <form id='canopy_cover_form' method='post'>
        {% csrf_token %}
        <table> <!-- main cc info table -->
            <tr>{{ canopy_cover_form.non_field_errors }}</tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.site.label }}</th>
                <td>{{ canopy_cover_form.site }}</td>
                <td>{{ canopy_cover_form.site.errors }}</td>
            </tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.school.label }}</th>
                <td>{{ canopy_cover_form.school }}</td>
                <td>{{ canopy_cover_form.school.errors }}</td>
            </tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.date_time.label }}</th>
                <td>{{ canopy_cover_form.date_time }}</td>
                <td>{{ canopy_cover_form.date_time.errors }}</td>
            </tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.weather.label }}</th>
                <td>{{ canopy_cover_form.weather }}</td>
                <td>{{ canopy_cover_form.weather.errors }}</td>
            </tr>

            {{ cardinal_formset.management_form }}

            <table>
            {% for cardinal_form in cardinal_formset %}
                <tr>
                    <th></th>
                    <td>{{ cardinal_form.direction.errors }}</td>
                </tr>
                <tr>
                    {{ cardinal_form.as_table }}
                </tr>
            {% endfor %}
            </table>

            <tr></tr>
            <tr>
                <th align='left'>{{ canopy_cover_form.est_canopy_cover.label }}</th>
                <td>{{ canopy_cover_form.est_canopy_cover }}</td>
                <td>{{ canopy_cover_form.est_canopy_cover.errors }}</td>
            </tr>

        </table> <!-- end canopy cover -->

    <input type='submit', name='submit', value='Submit' />
    </form>
{% endblock %}
