{% load staticfiles %}
{% load i18n %}
{% load filters %}

{% block content %}
{% if perms.streamwebs.is_org_admin%}
<style>
  #delete-button {
    margin-right: 3%;
  }

  #delete-modal {
    background-color: rgb(228, 228, 228);
    display: fixed;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 175px;
    z-index: 12;
    border-radius: 15px 15px;
    padding: 20px;
    padding-top: 0px;
  }

  #delete-modal-backdrop {
    background-color: grey;
    display: absolute;
    position: fixed;
    top:0;
    left:0;
    z-index: 11;
    width: 10000px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .modal-footer {
    position: absolute;
    bottom: 10%;
    right: 5%
  }
</style>
  <!-- Modal Structure -->
  <div id="delete-modal" class="" hidden>
    <div class="modal-content">
      <h4>Delete?</h4>
      <p>Click delete to perminately delete this</p>
    </div>
    <div class="modal-footer">
      <a id="keep" class="waves-effect waves-light btn">Keep</a>
      <a id="delete" class="waves-effect waves-light btn red darken-3">Delete</a>
    </div>
  </div>
  <div id="delete-modal-backdrop" hidden>&nbsp</div>
          
  {% endif %}
  
<script>
    var button = document.getElementById("delete-button");
    var delete_button = document.getElementById("delete");
    delete_button.href = button.getAttribute("href");

    button.addEventListener("click", openModal)
    document.getElementById("keep").addEventListener("click", closeModal)
    
    function openModal() {
      document.getElementById("delete-modal-backdrop").removeAttribute("hidden")
      document.getElementById("delete-modal").removeAttribute("hidden")
    }

    function closeModal() {
      document.getElementById("delete-modal-backdrop").setAttribute("hidden", "")
      document.getElementById("delete-modal").setAttribute("hidden", "")
    }
</script>
{% endblock %}
