{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "View Macroinvertebrates Data" %}{% endblock %}


{% block content %}

  <style>
    .notes {
      overflow-wrap: break-word;
    }
    strong.normal {
      color: black;
    }
  </style>

  <div class="container">
    {% if messages %}
      <div class="center-content">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
    {% endif %}

    <h3 align="center">
      <a href="{% url 'streamwebs:site' site.site_slug %}">
        {{ site.site_name }}
      </a>
    </h3>
    <h4 align="center">{% trans "Macroinvertebrate data" %}: {{ data.date_time|date:"m-d-Y" }}</h4>
    <br/><br/>
    <div class="row">
      <div class="col s6">
        <p>
          <b>{% trans "School" %}: </b>
          {{ data.school }}
        </p>
      </div>
      <div class="col s6">
        <p>
          <b>{% trans "Date and time" %}: </b>
          {{ data.date_time }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>
          <b>{% trans "Water quality" %}: </b>
          {{ rating }}
        </p>
      </div>
      <div class="col s6">
        <p>
          <b>{% trans "Number of people sorting/identifying" %}: </b>
          {% if data.num_people %}
            {{ data.num_people }}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>
          <b>{% trans "Water type" %}: </b>
          {% if data.get_water_type_display %}
            {{ data.get_water_type_display }}
          {% endif %}
        </p>
      </div>
      <div class="col s6">
        <p>
          <b>{% trans "Time spent sorting/identifying" %}: </b>
          {% if data.time_spent %}
            {{ data.time_spent }} minutes
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>
          <b>{% trans "Weather" %}: </b>
          {% if data.weather %}
            {{ data.weather }}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <p>
          <b>{% trans "Percent EPT" %}: </b>
          {{ EPT|floatformat:2 }}%
        </p>
        <p><strong>Note: </strong>
          EPT is the total number of caddisflies, mayflies, and stoneflies found divided by number of all bugs
        </p>
      </div>
    </div>
    <div class="row">
      <div class="notes col s12">
        {% if data.notes %}
          <p>
            <b>{% trans "Field notes" %}: </b>
            {{ data.notes }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <h5 align="center">{% trans "Sensitivity to pollution" %}</h5>
      <div class="col s3">
        <h6 align=center>{% trans "Sensitive"%}</h6>
        <table class="bordered">
          <thead>
            <tr>
              <th></th>
              <th>{% trans "Count" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label">
                {% trans "Caddisfly" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_caddisfly.png' %}">
              </td>

              <td class="value">{{ data.caddisfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Mayfly" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_mayfly.png' %}">
              </td>

              <td class="value">{{ data.mayfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Riffle beetle" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_riffle_beetle.png' %}">
              </td>
              <td class="value">{{ data.riffle_beetle }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Stonefly" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_stonefly.png' %}">
              </td>
              <td class="value">{{ data.stonefly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Water penny" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_water_penny.png' %}">
              </td>
              <td class="value">{{ data.water_penny }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Dobsonfly" %}<br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_dobsonfly.png' %}">
              </td>
              <td class="value">{{ data.dobsonfly }}</td>
            </tr>
            <tr>
              <td class="label total">{% trans "Sensitive total" %}<br></td>
              <td class="value total">{{ data.sensitive_total }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s3 offset-s1">
        <h6 align="center">{% trans "Somewhat Sensitive" %}</h6>
        <table class="bordered">
          <thead>
            <tr>
              <th></th>
              <th>{% trans "Count" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label">
                {% trans "Clam/mussel" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_clam_mussel.png' %}">
              </td>
              <td class="value">{{ data.clam_or_mussel }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Crane fly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_crane_fly.png' %}">
              </td>
              <td class="value">{{ data.crane_fly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Crayfish" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_crayfish.png' %}">
              </td>
              <td class="value">{{ data.crayfish }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Damselfly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_damselfly.png' %}">
              </td>
              <td class="value">{{ data.damselfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Dragonfly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_dragonfly.png' %}">
              </td>
              <td class="value">{{ data.dragonfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Scud" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_scud.png' %}">
              </td>
              <td class="value">{{ data.scud }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Fishfly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_fishfly.png' %}">
              </td>
              <td class="value">{{ data.fishfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Alderfly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_alderfly.png' %}">
              </td>
              <td class="value">{{ data.alderfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Water mite" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_mite.png' %}">
              </td>
              <td class="value">{{ data.mite }}</td>
            </tr>
            <tr>
              <td class="label total">
                {% trans "Somewhat sensitive total" %}<br>
              </td>
              <td class="value total">{{ data.somewhat_sensitive_total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s3 offset-s1">
        <h6 align="center">{% trans "Tolerant " %}</h6>
        <table class="bordered">
          <thead>
            <tr>
              <th></th>
              <th>{% trans "Count" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="label">
                {% trans "Aquatic worm" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_aquatic_worm.png' %}">
              </td>
              <td class="value">{{ data.aquatic_worm }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Blackfly" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_blackfly.png' %}">
              </td>
              <td class="value">{{ data.blackfly }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Leech" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_leech.png' %}">
              </td>
              <td class="value">{{ data.leech }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Midge" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_midge.png' %}">
              </td>
              <td class="value">{{ data.midge }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Snail" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_snail.png' %}">
              </td>
              <td class="value">{{ data.snail }}</td>
            </tr>
            <tr>
              <td class="label">
                {% trans "Mosquito larva" %}
                <br>
                <img
                    src="{% static 'streamwebs/images/macroinvertebrates/macro_mosquito_larva.png' %}">
              </td>
              <td class="value">{{ data.mosquito_larva }}</td>
            </tr>
            <tr>
              <td class="label total">
                {% trans "Tolerant total" %}<br>
              </td>
              <td class="value total">{{ data.tolerant_total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
