{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Macroinvertebrates</title>
    </head>

    <body>
        <h1>Macroinvertebrates</h1>
        <h2>Site: {{ site.site_name }} </h2>
        <h2>Data ID: {{ data.id }} </h2>


        <div class="macroinvertebrate-count clear-block">
          <table border="1">
            <caption> Sensitive/Intolerant </caption>
            <tbody><tr>
              <th colspan="2">Count:</th>
            </tr>
            <tr>
              <td class="label">
                caddisfly
                <br>
                <img src="{% static 'macro_images/macro_caddisfly.png' %}">
              </td>

              <td class="value">{{ data.caddisfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position:10px -80px">
                mayfly
                <br>
                <img src="{% static 'macro_images/macro_mayfly.png' %}">
              </td>
              <td class="value">{{ data.mayfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position:10px -180px">
                riffle beetle
                <br>
                <img src="{% static 'macro_images/macro_riffle_beetle.png' %}">
              </td>
              <td class="value">{{ data.riffle_beetle }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position:10px -280px">
                stonefly
                <br>
                <img src="{% static 'macro_images/macro_stonefly.png' %}">
              </td>
              <td class="value">{{ data.stonefly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position:10px -380px">
                water penny
                <br>
                <img src="{% static 'macro_images/macro_water_penny.png' %}">
              </td>
              <td class="value">{{ data.water_penny }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position:10px -480px">
                dobsonfly
                <br>
                <img src="{% static 'macro_images/macro_dobsonfly.png' %}">
              </td>
              <td class="value">{{ data.dobsonfly }}</td>
            </tr>
            <tr>
              <td class="label total">Sensitive&nbsp;&nbsp;&nbsp;<br>
                Total =</td>
              <td class="value total">{{ data.sensitive_total }}</td>
            </tr>
          </tbody></table>

          <table border="1" class="col2">
            <caption> Somewhat Sensitive </caption>
            <tbody><tr>
              <th colspan="2">Count:</th>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px 20px">
                clam/mussel
                <br>
                <img src="{% static 'macro_images/macro_clam_mussel.png' %}">
              </td>
              <td class="value">{{ data.clam_or_mussel }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -80px">
                crane fly
                <br>
                <img src="{% static 'macro_images/macro_crane_fly.png' %}">
              </td>
              <td class="value">{{ data.crane_fly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -180px">
                crayfish
                <br>
                <img src="{% static 'macro_images/macro_crayfish.png' %}">
              </td>
              <td class="value">{{ data.crayfish }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -280px">
                damselfly
                <br>
                <img src="{% static 'macro_images/macro_damselfly.png' %}">
              </td>
              <td class="value">{{ data.damselfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -380px">
                dragonfly
                <br>
                <img src="{% static 'macro_images/macro_dragonfly.png' %}">
              </td>
              <td class="value">{{ data.dragonfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -480px">
                scud
                <br>
                <img src="{% static 'macro_images/macro_scud.png' %}">
              </td>
              <td class="value">{{ data.scud }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -580px">
                fishfly
                <br>
                <img src="{% static 'macro_images/macro_fishfly.png' %}">
              </td>
              <td class="value">{{ data.fishfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -680px">
                alderfly
                <br>
                <img src="{% static 'macro_images/macro_alderfly.png' %}">
              </td>
              <td class="value">{{ data.alderfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -110px -780px">
                water mite
                <br>
                <img src="{% static 'macro_images/macro_water_mite.png' %}">
              </td>
              <td class="value">{{ data.mite }}</td>
            </tr>
            <tr>
              <td class="label total">Somewhat&nbsp;&nbsp;&nbsp; Sensitive&nbsp;&nbsp;&nbsp;<br>
                Total =</td>
              <td class="value total">{{ data.somewhat_sensitive_total }}</td>
            </tr>
          </tbody></table>

          <table border="1">
            <caption> Tolerant </caption>
            <tbody><tr>
              <th colspan="2">Count:</th>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px 20px">
                aquatic worm
                <br>
                <img src="{% static 'macro_images/macro_aquatic_worm.png' %}">
              </td>
              <td class="value">{{ data.aquatic_worm }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px -80px">
                blackfly
                <br>
                <img src="{% static 'macro_images/macro_blackfly.png' %}">
              </td>
              <td class="value">{{ data.blackfly }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px -180px">
                leech
                <br>
                <img src="{% static 'macro_images/macro_leech.png' %}">
              </td>
              <td class="value">{{ data.leech }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px -280px">
                midge
                <br>
                <img src="{% static 'macro_images/macro_midge.png' %}">
              </td>
              <td class="value">{{ data.midge }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px -380px">
                snail
                <br>
                <img src="{% static 'macro_images/macro_snail.png' %}">
              </td>
              <td class="value">{{ data.snail }}</td>
            </tr>
            <tr>
              <td class="label" style="background-position: -270px -480px">
                mosquito larva
                <br>
                <img src="{% static 'macro_images/macro_mosquito_larva.png' %}">
              </td>
              <td class="value">{{ data.mosquito_larva }}</td>
            </tr>
            <tr>
              <td class="label total">Tolerant&nbsp;&nbsp;&nbsp;<br>
                Total =</td>
              <td class="value total">{{ data.tolerant_total }}</td>
            </tr>
          </tbody></table>
        </div>
    </body>
</html>
