{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% load verbose_names %}

{% block content %}
  <style>
    ul.errorlist ~ input {
      border-bottom-color: red;
    }
    ul.errorlist ~ div {
    border: 0.5px solid red;
  }
  </style>

  <a href="{% url 'streamwebs:camera_point' site.site_slug cp.id %}" id="back"
      class="wave-effects wave-light btn white-text teal darken-3">
    <i class="material-icons">chevron_left</i>
    Back to <span>{{ site.site_name }} {% trans "Camera Point" %}</span>
  </a>

  <br/>
  <br/>
  <div class="container">
    <!-- PP info -->
    <div>
      <h4 class="center teal-text">
        {{ pp.camera_point.site.site_name }}:
        camera point {{ pp.camera_point.letter }}
      </h4>
      <br/><br/>
      <div class="row">
        <div class="col s6">
          <p>
            <b>{% trans "Date established" %}:</b>
            {{ pp.pp_date|date:"m-d-Y" }}
          </p>
        </div>
        <div class="col s6">
          <p>
            <b>{% trans "Compass bearing" %}:</b>
            {{ pp.compass_bearing }} degree(s)
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <p>
            <b>{% trans "Distance from camera point" %} {{ pp.camera_point.letter }}: </b>
            {% if pp.distance %}
              {{ pp.distance }} ft
            {% endif %}
          </p>
        </div>
        <div class="col s6">
          <p>
            <b>{% trans "Camera height" %}:</b>
            {% if pp.camera_height %}
              {{ pp.camera_height }} ft
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <p>
            <b>{% trans "Notes" %}:</b>
            {% if pp.notes %}
              {{ pp.notes }}
            {% endif %}
          </p>
        </div>
      </div>
      <hr/>
      <!-- New photo upload -->
      <div class="row">
        <div class="col s6 offset-s3">
          {% if user.is_authenticated and perms.streamwebs.is_org_author %}
            <h4 class="teal-text">{% trans "Add New Photo" %}</h4>
            <form id='ppi_form' , method='post' , enctype='multipart/form-data'>
              {% csrf_token %}
              {{ ppi_formset.management_form }}
              {% for ppi_form in ppi_formset %}
                <div class="row">
                  <div class="col s12">
                    {{ ppi_form.image.errors }}
                    <div class="input-field">
                      {{ ppi_form.image }}
                    </div>
                  </div>
                  <div class="col s12">
                    <div class="input-field">
                      <label for="{{ ppi_form.date.id_for_label }}">{{ ppi_form.date.label }}</label>
                      {{ ppi_form.date.errors }}
                      {{ ppi_form.date }}
                    </div>
                  </div>
                </div>
              {% endfor %}
              <button class="btn waves-effect waves-light teal darken-3"
                      type="submit" name="action" value='Submit'>
                {% trans "Submit" %}
                <i class="material-icons right">send</i>
              </button>
            </form>
          {% else %}
            <a href="{% url 'streamwebs:login' %}?next={{ request.path }}">
              {% trans "Log in to add photos for this photo point." %}
            </a>
          {% endif %}
        </div>
      </div>
      <hr/><br/>
      <h4 class="center teal-text">{% trans "Photos for this photo point" %}</h4>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          {% for img in pp_images %}
            <div class="card">
              <div class="card-image">
                <a href="{{ img.image.url }}" target="_blank">
                  <img src="{{ img.image.url }}" alt="pp image"/>
                </a>
              </div>
              <div class="card-content">
                <p><b>{% trans "Date" %}:</b> {{ img.date|date:"m-d-Y" }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

<script>
  var ERROR_TOAST = ''; // printed by data-toasts.js
  {% for field, errors in ppi_formset.errors.items %}
    {% for error in errors %}
      // get_field_label is from verbose_names.py
      ERROR_TOAST += "{% get_field_label ppi_formset field %}: {{ error }}<br>";
    {% endfor %}
  {% endfor %}
</script>

<script src="{% static 'streamwebs/js/data.js' %}"></script>
<script src="{% static 'streamwebs/js/data-toasts.js' %}"></script>

{% endblock %}
