{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "New photo point" %}{% endblock %}
{% block body_title %}{% trans "Add a new photo point for camera point" %}{% endblock %}
{% block content %}
    <form id='pp_form' method='post', enctype='multipart/form-data'>
        {% csrf_token %}
        {{ pp_form.as_p }}
        {{ ppi_formset.as_p }}
        <input type='submit', name='submit', value='Submit' />
    </form>

{% endblock %}
