{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% load verbose_names %}

{% block title %}{% trans "New photo point" %}{% endblock %}

{% block content %}
  <a href="{% url 'streamwebs:camera_point' site.site_slug cp.id %}" id="back"
      class="wave-effects wave-light btn white-text teal darken-3">
    <i class="material-icons">chevron_left</i>
    Back to <span>{{ site.site_name }} {% trans "Camera Point" %}</span>
  </a>
  <div class="container">
    <h4 class="teal-text">
      {% trans "New photo point for camera point" %}
    </h4>
    <br/>
    <div class="col s8">
      <p><strong><b>Note: </b></strong>
        You can add more photos to photopoints after this form is submitted.
      </p>
    </div>
    <br/>
    <form id='pp_form' method='post' enctype='multipart/form-data' novalidate>
      {% csrf_token %}
      <div class="input-field">
        {{ pp_form.compass_bearing.label }} (degrees)
        {{ pp_form.compass_bearing }}
        {{ pp_form.compass_bearing.errors }}
      </div>
      <div class="input-field">
        {{ pp_form.distance.label }} (ft)
        {{ pp_form.distance }}
        {{ pp_form.distance.errors }}
      </div>
      <div class="input-field">
        {{ pp_form.camera_height.label }} (ft)
        {{ pp_form.camera_height }}
        {{ pp_form.camera_height.errors }}
      </div>
      <div class="input-field">
        {{ pp_form.notes.label }}
        {{ pp_form.notes }}
        {{ pp_form.notes.errors }}
      </div>
      {{ ppi_formset.management_form }}
      {% for ppi_form in ppi_formset %}
        <div class="input-field">
          {{ ppi_form.image }}
          {{ ppi_form.image.errors}}
        </div>
        <div class="input-field">
          {{ ppi_form.date.label }} (YYYY-MM-DD)
          {{ ppi_form.date }}
          {{ ppi_form.date.errors}}
        </div>
      {% endfor %}
      <button class="btn wave-effect waves-light teal darken-3" type="submit"
        name="submit" value="{% trans "Submit" %}">
        {% trans "Submit" %}
      </button>
    </form>
  </div>
{% endblock %}

{% block scripts %}

<script>
  var ERROR_TOAST = ''; // printed by data-toasts.js
  {% for field, errors in pp_form.errors.items %}
    {% for error in errors %}
      // get_field_label is from verbose_names.py
      ERROR_TOAST += "{% get_field_label pp_form field %}: {{ error }}<br>";
    {% endfor %}
  {% endfor %}
</script>

<script src="{% static 'streamwebs/js/data.js' %}"></script>
<script src="{% static 'streamwebs/js/data-toasts.js' %}"></script>

{% endblock %}
