{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}

{% block title %}{% trans "Riparian Aquatic Survey Data" %}{% endblock %}

{% block content %}
<a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
    class="wave-effects wave-light btn white-text teal darken-3">
  <i class="material-icons">chevron_left</i>
  Back to <span>{{ site.site_name }}</span>
</a>

<div class="container">
  <div class="container">
    <h3 align="center" class='teal-text'>
        {{ site.site_name }}
      </a>
    </h3>
    <h4 align="center"> {% trans "Riparian Aquatic Data" %}</h4>
    <h5 align="center">{{ data.school }}</h5>
    <h6 align="center">{{ data.date_time }}</h6>
    <br/>
    <h4 class="teal-text">Survey Area</h4>
    <div class="row">
      <div class="col s4">
        <p>
          <b>
            {% trans "Length of Stream" %} (ft)
          </b>: {{ data.stream_length}}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans 'Number of Riffles' %}
          </b>: {{ data.riffle_count}}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans 'Number of Pools' %}</b>: {{ data.pool_count }}
          </p>
        </div>
      </div>

    <h4 class="teal-text">Substrates</h4>
    <div class="row">
      <div class="col s4">
        <p>
          <b>
            {% trans "Silt" %}
          </b>: {{ data.silt| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Sand" %}
          </b>: {{ data.sand| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Gravel" %}
          </b>: {{ data.gravel| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Cobble" %}
          </b>: {{ data.cobble| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Boulders" %}
          </b>: {{ data.boulders| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Bedrock" %}
          </b>: {{ data.bedrock| default:""}}
        </p>
      </div>
    </div>

    <h4 class='teal-text'>Instream Woody Debris</h4>
    <div class="row">
      <div class="col s4">
        <p>
          <b>
            {% trans 'Small Debris' %}
          </b>: {{ data.small_debris| default:""}}
        </p>
      </div>

      <div class="col s4">
        <p>
          <b>
            {% trans 'Medium Debris' %}
          </b>: {{ data.medium_debris| default:"" }}
        </p>
      </div>

      <div class="col s4">
        <p>
          <b>
            {% trans 'Large Debris' %}
          </b>: {{ data.large_debris| default:"" }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class = "col s12">
        <p>
          <b>
            {% trans "Commments" %}
          </b>: {{ data.comments| default:"" }}
        </p>
      </div>
    </div>

    <h4 class='teal-text'>Vegetation Type</h4>
    <div class="row">
      <div class="col s4">
        <p>
          <b>
            {% trans "Coniferous Trees" %}
          </b>: {{ data.coniferous_trees| default:""}}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Deciduous Trees" %}
          </b>: {{ data.deciduous_trees| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Shrubs" %}
          </b>: {{ data.shrubs| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>{% trans "Small Plants" %}</b>: {{ data.small_plants| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>
            {% trans "Ferns" %}
          </b>: {{ data.ferns| default:"" }}
        </p>
      </div>
      <div class="col s4">
        <p>
          <b>{% trans "Grasses" %}</b>: {{ data.grasses| default:"" }}
        </p>
      </div>
    </div>

    <h4 class="teal-text">Plants Identified</h4>
    <div class="row">
      <div class="col s6">
        <b>Species</b>
      </div>
      <div class="col s6">
        <b>Significance to Riparian Area</b>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species1 |default:"" }}
      </div>
      <div class="col s6">
        {{ data.significance1 |default:"" }}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species2 |default:""}}
      </div>
      <div class="col s6">
        {{ data.significance2|default:"" }}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species3 |default:""}}
      </div>
      <div class="col s6">
        {{ data.significance3 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species4 |default:""}}
      </div>
      <div class="col s6">
        {{ data.significance4 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species5 |default:""}}
      </div>
      <div class="col s6">
        {{ data.significance5 |default:"" }}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.species6 |default:""}}
      </div>
      <div class="col s6">
        {{ data.significance6 |default:""}}
      </div>
    </div>

    <h4 class="teal-text">Wildlife and Birds Identified</h4>
    <div class="row">
      <div class="col s6">
        <b>Type, Species, or Track/Sign</b>
      </div>
      <div class="col s6">
        <b># or Comments</b>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type1 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments1 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type2 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments2 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type3 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments3 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type4 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments4 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type5 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments5 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{ data.wildlife_type6 |default:""}}
      </div>
      <div class="col s6">
        {{ data.wildlife_comments6 |default:""}}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {% if data.notes %}
					<h4 class="teal-text">Field notes</h4>
          {{ data.notes }}
        {% endif %}
      </div>
    </div>
    </div>
  </div>

  {%  endblock %}
