{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "View Riparian Area Transect Data" %}{% endblock %}

{% block content %}
  <style>
    .inner-wrap {
      min-width: 768px;
    }
    div#rip-graph {
        margin: 0 auto;
    }
  </style>

  <div>
      <a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
          class="wave-effects wave-light btn white-text teal darken-3">
        <i class="material-icons">chevron_left</i>
        Back to <span>{{ site.site_name }}</span>
      </a>
      <div id="delete-button" class="waves-effect waves-dark btn red darken-3 right"
        href="{% url 'streamwebs:riparian_transect_delete' site.site_slug transect.id %}">
        Delete Datasheet
      </div>
      {% include 'streamwebs/datasheets/delete_button_partial.html' %}
    </div>
  <div class="container">
    <h3 align="center" class="teal-text">
      {{ site.site_name }}
    </h3>
    <h4 align="center">{% trans "Riparian Transect data" %}: {{ transect.date_time|date:"m-d-Y" }}</h4>
    <br/><br/>
    <div class="row">
      <div class="col s6">
        <p>
          <b>{% trans "School" %}: </b>
          {{ transect.school }}
        </p>
      </div>
      <div class="col s6">
        <p>
          <b>{% trans "Date and Time" %}: </b>
          {{ transect.date_time }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>
          <b>{% trans "Weather" %}: </b>
          {% if transect.weather %}
            {{ transect.weather }}
          {% endif %}
        </p>
      </div>
      <div class="col s6">
        <p>
          <b>{% trans "Slope of Stream Bank" %}: </b>
          {% if transect.slope %}
            {{ transect.slope }}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>
          {% if transect.notes %}
            <b>{% trans "Field Notes" %}</b>
            {{ transect.notes }}
          {% endif %}
        </p>
      </div>
    </div>

    <div class="divider"></div>
    <br>

    <table> <!-- zones subtable -->
      <tr>
        <th>{{ 'zone'|get_zone_labels }}</th>
        <th>{{ 'conifers'|get_zone_labels }}</th>
        <th>{{ 'hardwoods'|get_zone_labels }}</th>
        <th>{{ 'shrubs'|get_zone_labels }}</th>
        <th>{{ 'comments'|get_zone_labels }}</th>
      </tr>
      <tr>
        <td width="20%"><strong class="normal">
          {{ zones.0.zone_num }}<br>(0 to 20 ft)
        </strong>
        </td>
        <td>{{ zones.0.conifers|default_if_none:0 }}</td>
        <td>{{ zones.0.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.0.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.0.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.1.zone_num }}<br>(20 to 40 ft)</strong>
        </td>
        <td>{{ zones.1.conifers|default_if_none:0 }}</td>
        <td>{{ zones.1.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.1.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.1.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.2.zone_num }}<br>(40 to 60 ft)</strong>
        </td>
        <td>{{ zones.2.conifers|default_if_none:0 }}</td>
        <td>{{ zones.2.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.2.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.2.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.3.zone_num }}<br>(60 to 80 ft)</strong>
        </td>
        <td>{{ zones.3.conifers|default_if_none:0 }}</td>
        <td>{{ zones.3.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.3.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.3.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.4.zone_num }}<br>(80 to 100 ft)</strong>
        </td>
        <td>{{ zones.4.conifers|default_if_none:0 }}</td>
        <td>{{ zones.4.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.4.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.4.comments|default_if_none:"" }}</td>
      </tr>
    </table>
    <br/>

    <div class="row">
      <div id="rip-graph">
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.zones_json = {{ zones_json|safe }};
  </script>
  <script type="application/javascript"
          src="{% static 'streamwebs/js/data/view/riparian_transect.js' %}"></script>
{% endblock %}
