<!DOCTYPE html>
<html>
    <head>
        <title>Riparian Transect</title>
    </head>

    <body>
        <h1>Riparian Transect</h1>

        {% if user.is_authenticated %}
            {% if added %}
            <strong>You have successfully submitted your Riparian Transect data sheet.</strong>

            {% else %}
            <form id='rip_trans_form' method='post'>
                {% csrf_token %}
                {{ transect_form.as_p }}

                {{ zone_formset.management_form }}
                <table>
                    {% for zone in zone_formset.forms %}
                        {{ zone }}
                    {% endfor %}
                </table>

            <input type='submit', name='submit', value='Submit' />
            </form>
            {% endif %}

        {% else %}
            <p>You must be logged in to submit data.</p>
            <a href='/streamwebs/login/'>Log in here.</a>
        {% endif %}

    </body>
</html>
