<!DOCTYPE html>
<html>
    <head>
        <title>Riparian Transect</title> <!-- check wq ver -->
    </head>

    <body>
        <h1>Riparian Transect</h1>

        {% if user.is_authenticated %}
        <form id='rip_trans_form' method='post' action='/streamwebs/datasheets/riparian_transect_edit/'>
            {% csrf_token %}

            {{ zone_form }}
            {{ zone_form }}
            {{ zone_form }}
            {{ zone_form }}
            {{ zone_form }}

            {{ transect_form }}

            <input type='submit', name='submit', value='Submit' />
        </form>

        {% else %}
            <p>You must be logged in to submit data.</p>
            <a href='/streamwebs/login/'>Log in here.</a>
        {% endif %}

    </body>
</html>

