{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "View Riparian Area Transect Data" %}{% endblock %}

{% block content %}
  <style>
    .inner-wrap {
      min-width: 768px;
    }
    div#rip-graph {
        margin: 0 auto;
    }
  </style>

  <div class="container">
    {% if messages %}
      <div class="center-content">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
    {% endif %}

    <h3 align="center">
      <a href="{% url 'streamwebs:site' site.site_slug %}">
        {{ site.site_name }}
      </a>
    </h3>
    <h4 align="center">{% trans "Riparian Transect data" %}: {{ transect.date_time|date:"m-d-Y" }}</h4>

    <div class="row">
      <div class="input-field col s12">
        <input disabled value="{{ transect.school }}" id="school" type="text"
               class="validate">
        <label for="school">{% trans "School" %}</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input disabled value="{{ transect.date_time }}" id="dt" type="text"
               class="validate">
        <label for="dt">{% trans "Date and time" %}</label>
      </div>
      <div class="input-field col s6">
        <input disabled value="{{ transect.weather }}" id="weather" type="text"
               class="validate">
        <label for="weather">{% trans "Weather" %}</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input disabled value="{{ transect.slope }}" id="stream bank"
               type="text" class="validate">
        <label for="stream bank">{% trans "Slope of stream bank" %}</label>
      </div>
    </div>

    <div class="divider"></div>
    <br>

    <table> <!-- zones subtable -->
      <tr>
        <th>{{ 'zone'|get_zone_labels }}</th>
        <th>{{ 'conifers'|get_zone_labels }}</th>
        <th>{{ 'hardwoods'|get_zone_labels }}</th>
        <th>{{ 'shrubs'|get_zone_labels }}</th>
        <th>{{ 'comments'|get_zone_labels }}</th>
      </tr>
      <tr>
        <td width="20%"><strong class="normal">
          {{ zones.0.zone_num }}<br>(0 to 20 ft)
        </strong>
        </td>
        <td>{{ zones.0.conifers|default_if_none:0 }}</td>
        <td>{{ zones.0.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.0.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.0.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.1.zone_num }}<br>(20 to 40 ft)</strong>
        </td>
        <td>{{ zones.1.conifers|default_if_none:0 }}</td>
        <td>{{ zones.1.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.1.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.1.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.2.zone_num }}<br>(40 to 60 ft)</strong>
        </td>
        <td>{{ zones.2.conifers|default_if_none:0 }}</td>
        <td>{{ zones.2.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.2.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.2.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.3.zone_num }}<br>(60 to 80 ft)</strong>
        </td>
        <td>{{ zones.3.conifers|default_if_none:0 }}</td>
        <td>{{ zones.3.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.3.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.3.comments|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td><strong class="normal">
          {{ zones.4.zone_num }}<br>(80 to 100 ft)</strong>
        </td>
        <td>{{ zones.4.conifers|default_if_none:0 }}</td>
        <td>{{ zones.4.hardwoods|default_if_none:0 }}</td>
        <td>{{ zones.4.shrubs|default_if_none:0 }}</td>
        <td>{{ zones.4.comments|default_if_none:"" }}</td>
      </tr>
    </table>

    <br>
    <div class="row">
      <div class="input-field col s12">
        <input disabled value="{{ transect.notes }}" id="notes" type="text"
               class="validate">
        <label for="notes">{% trans "Field notes" %}</label>
      </div>
    </div>
    <div class="row">
      <div id="rip-graph">
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="application/javascript"
          src="{% static 'streamwebs/js/data.js' %}"></script>
  <script type="application/javascript"
          src="{% static 'streamwebs/js/data.js' %}"></script>
  <script>
    window.zones_json = {{ zones_json|safe }};
  </script>
  <script type="application/javascript"
          src="{% static 'streamwebs/js/data/view/riparian_transect.js' %}"></script>
{% endblock %}
