{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}

{% block title %}{% trans "View Soil Survey" %}{% endblock %}

{% block content %}
  <a href="{% url 'streamwebs:site' site.site_slug %}" id="back"
      class="wave-effects wave-light btn white-text teal darken-3">
    <i class="material-icons">chevron_left</i>
    Back to <span>{{ site.site_name }}</span>
  </a>
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
    {% endif %}

    <h3 align="center" class="teal-text">
      {{ site.site_name }}
    </h3>
    <h4 align="center">{% trans "Riparian Soil Survey: " %}{{ soil.date }}</h4>
    <br/><br/>

    <div class="row">
      <div class="col s12">
        <b>{% trans "School" %}: </b>
        {{ soil_data.school }}
      </div>
      <div class="col s12">
        <b>{% trans "Date and Time" %}: </b>
        {{ soil_data.date_time }}
      </div>
      <div class="col s12">
        <b>{% trans "Weather" %}: </b>
        {% if soil_data.weather %}
          {{ soil_data.weather }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <b>{% trans "Landscape Position" %}: </b>
        <p>{{ soil_data.get_landscape_pos_display }}</p>
      </div>
      <div class="col s4">
        <b>{% trans "Cover Type" %}: </b>
        <p>{{ soil_data.get_cover_type_display }}</p>
      </div>
      <div class="col s4">
        <b>{% trans "Land Use" %}: </b>
        <p>{{ soil_data.get_land_use_display }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <b>{% trans "Soil Type" %}: </b>
        <p>{{ soil_data.get_soil_type_display }}</p>
      </div>
      <div class="col s4">
        <b>{% trans "Distance from stream" %} (ft): </b>
        {{ soil_data.distance }}
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col s12">
        {% if soil_data.site_char %}
          <p><b>{% trans "Distinguishing site characteristics" %}</b></p>
          {{ soil_data.site_char }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {% if soil_data.notes %}
          <p><b>{% trans "Field notes" %}</b></p>
          {{ soil_data.notes }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
