{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}

{% block title %}{% trans "View Soil Survey" %}{% endblock %}

{% block content %}
  <div class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      </div>
    {% endif %}

    <h3 align="center">
      <a href="{% url 'streamwebs:site' site.site_slug %}">
        {{ site.site_name }}
      </a>
    </h3>
    <h4 align="center">{% trans "Riparian Soil Survey: " %}{{ soil.date }}</h4>

    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <p>School</p>
          <p>
            <input type="text" name="School" value="{{ school }}" disabled/>
          </p>
          <p>{{ soil_form.school.label }}</p>
          <p>{{ soil_form.school.errors | striptags }}</p>
          <p>{{ soil_form.school }}</p>
        </div>
      </div>

      <div class="col s6">
        <p>{{ soil_form.date.label }}</p>
        <p>{{ soil_form.date.errors | striptags }}</p>
        <p>{{ soil_form.date }}</p>
      </div>

      <div class="col s12">
        <p>{{ soil_form.weather.label }}</p>
        <p>{{ soil_form.weather.errors | striptags }}</p>
        <p>{{ soil_form.weather }}</p>
      </div>
    </div>

    <!-- Container so that radio buttons render vertically -->
    <div class="container">
      <div class="row">
        <div class="col s3 pull-s1">
          <p>{% trans "Landscape Position" %}</p>
          {{ soil_form.landscape_pos.errors| striptags }}
          <div class="input-field">
            {% for radio in soil_form.landscape_pos %}
              {{ radio.tag }}
              <label for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="col s3 push-s1">
          <p>{% trans "Cover Type" %}</p>
          {{ soil_form.cover_type.errors| striptags }}
          <div class="input-field">
            {% for radio in soil_form.cover_type %}
              {{ radio.tag }}
              <label for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="col s3 push-s3">
          <p>{% trans "Land Use" %}</p>
          {{ soil_form.land_use.errors| striptags }}
          <div class="input-field">
            {% for radio in soil_form.land_use %}
              {{ radio.tag }}
              <label for="{{ radio.id_for_label }}">
                {{ radio.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> <!-- end middle container -->

    <br/>
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          {{ soil_form.soil_type.label }}
          {{ soil_form.soil_type.errors | striptags }}
          {{ soil_form.soil_type }}
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          {{ soil_form.distance.label }}
          {{ soil_form.distance.errors | striptags }}
          {{ soil_form.distance }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        {{ soil_form.site_char.label }}
        {{ soil_form.site_char.errors | striptags }}
        {{ soil_form.site_char }}
      </div>
    </div>
  </div>  <!-- end container -->
{% endblock %}

{% block scripts %}
  <script type="application/javascript"
          src="{% static 'streamwebs/js/data.js' %}"></script>
{% endblock %}
