{% extends "streamwebs/data_edit.html" %}

{% load staticfiles %}

{% block title %}Input Water Quality - {{site.name}} - Streamwebs{% endblock %}

{% block body_title %}<a href='{% url 'streamwebs:site' site.slug %}'>{{site.name}}</a> »
Edit Water Quality{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{% static 'streamwebs/js/data.js' %}"></script>
<script type="application/javascript" src="{% static 'streamwebs/js/data/edit/water_quality.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="POST">
            <p>Stream/Site name: {{site.name}}</p>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <label for="date">Date</label>
                        <input id="date" type="text" class="datepicker">
                    </div>

                    <div class="input-field">
                        <label for="lat">Latitude</label>
                        <input id="lat" type="text">
                    </div>
                </div>

                <div class="col s6">
                    <div class="input-field">
                        <select required disabled>
                            <option value="Level A" {% if data.DEQ_wq_level == 'A' %}selected{% endif %}>Level A</option>
                            <option value="Level B" {% if data.DEQ_wq_level == 'B' %}selected{% endif %}>Level B</option>
                            <option value="Level C" {% if data.DEQ_wq_level == 'C' %}selected{% endif %}>Level C</option>
                            <option value="Level D" {% if data.DEQ_wq_level == 'D' %}selected{% endif %}>Level D</option>
                            <option value="Level E" {% if data.DEQ_wq_level == 'E' %}selected{% endif %}>Level E</option>
                        </select>
                        <label>DEQ Data Quality Level</label>
                    </div>

                    <div class="input-field">
                        <label for="long">Longitude</label>
                        <input id="long" type="text">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <p>Any fish present?</p>
                    <div class="rowchk">
                        <input type="checkbox" id="yfish" />
                        <label for="yfish">Yes</label>
                        <input type="checkbox" id="nfish" />
                        <label for="nfish">No</label>
                    </div>
                </div>

                <div class="col s4">
                    <p>Number of live fish:</p>
                    <input id="livefish" type="text">
                </div>

                <div class="col s4">
                    <p>Number of dead fish:</p>
                    <input id="deadfish" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <p>Water Temperature Units</p>
                    <div class="rowchk">
                        <input type="checkbox" id="fahr" />
                        <label for="fahr">Fahrenheit</label>
                        <input type="checkbox" id="cels" />
                        <label for="cels">Celsius</label>
                    </div>
                </div>

                <div class="col s6">
                    <p>Air Temperature Units</p>
                    <div class="rowchk">
                        <input type="checkbox" id="afahr" />
                        <label for="afahr">Fahrenheit</label>
                        <input type="checkbox" id="acels" />
                        <label for="acels">Celsius</label>
                    </div>
                </div>
            </div>

            <table>
                <thead>
                    <th data-field="test"></th>
                    <th data-field="sample1">Sample 1</th>
                    <th data-field="sample2">Sample 2</th>
                    <th data-field="sample3">Sample 3</th>
                    <th data-field="sample4">Sample 4</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Water Temperature</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Air Temperature</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Dissolved Oxygen (mg/L)</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>pH</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Turbidity (NTU)</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Salinity (PSU) PPT</td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio1">
                                <label for="vradio1">Vernier</label>
                                <input type="radio" id="mradio1">
                                <label for="mradio1">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio2">
                                <label for="vradio2">Vernier</label>
                                <input type="radio" id="mradio2">
                                <label for="mradio2">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio3">
                                <label for="vradio3">Vernier</label>
                                <input type="radio" id="mradio3">
                                <label for="mradio3">manual</label>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="input-field"><input type="text" class="data"></div>
                            </div>
                            <div class="row">
                                <input type="radio" id="vradio4">
                                <label for="vradio4">Vernier</label>
                                <input type="radio" id="mradio4">
                                <label for="mradio4">manual</label>
                            </div>
                        </td>
                    </tr>
                    <tr class="collapse-btn">
                        <th>Additional parameters <i class="material-icons">arrow_drop_down</i></th>
                    </tr>
                </tbody>
            </table>
            <div class="collapse">
                <table>
                    <tbody>
                        <tr>
                            <td>Conductivity (µS/cm)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Solids (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>BOD (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Ammonia (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nitrite (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nitrate (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Phosphates (mg/L)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Fecal Coliform (CFU/100 mL)</td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                            <td>
                                <div class="input-field"><input type="text" class="data"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="input-field">
                <label for="field-notes">Field notes</label>
                <textarea id="#field-notes" class="materialize-textarea"></textarea>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
{% endblock %}
