{% extends 'streamwebs/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filters %}
{% block title %}{% trans "Add water quality sample" %}{% endblock %}
{% block body_title %}{% trans "Add water quality sample" %}{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{% static 'streamwebs/js/data.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if added %}
        <strong>Success!</strong>
    {% endif %}

    <!-- Display errors, if any (should be improved/more CSS friendly) -->
    <!-- {% for field in wq_form %}
        {% if field.errors %}
            <br>{{ field.label }}</br>
            {% for error in field.errors %}
                <br>...{{ error }}</br>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% for field in sample_formset %}
        {% if field.errors %}
            <br>{{ field.label }}</br>
            {% for error in field.errors %}
                <br>,,,{{ error }}</br>
            {% endfor %}
        {% endif %}
    {% endfor %} -->

    <div class="container">
        <form id="water_quality_form" action="" method="POST">
            {% csrf_token %}
            <div class="infogroup">
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            {{ wq_form.site.label }}

                            <!-- TODO: Style errors -->
                            {{ wq_form.site.errors | striptags }}
                            {{ wq_form.site }}
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            {{ wq_form.DEQ_dq_level.label }}

                            {{ wq_form.DEQ_dq_level.errors | striptags }}
                            {{ wq_form.DEQ_dq_level }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="{{ wq_form.school.id_for_label }}">{{ wq_form.school.label }}</label>

                            {{ wq_form.school.errors | striptags }}
                            {{ wq_form.school }}
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <label for="{{ wq_form.date.id_for_label }}">{{ wq_form.date.label }}</label>

                            {{ wq_form.date.errors | striptags }}
                            {{ wq_form.date }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="{{ wq_form.latitude.id_for_label }}">{{ wq_form.latitude.label }}</label>

                            {{ wq_form.latitude.errors | striptags }}
                            {{ wq_form.latitude }}
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="{{ wq_form.longitude.id_for_label }}">{{ wq_form.longitude.label }}</label>

                            {{ wq_form.longitude.errors | striptags }}
                            {{ wq_form.longitude }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <p>{{ wq_form.fish_present.label }}</p>
                    {{ wq_form.fish_present.errors | striptags }}
                    <div class="input-field">
                        {% for radio in wq_form.fish_present %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="col s4">
                    <p>{{ wq_form.live_fish.label }}</p>

                    {{ wq_form.live_fish.errors | striptags }}
                    {{ wq_form.live_fish }}
                </div>

                <div class="col s4">
                    <p>{{ wq_form.dead_fish.label }}</p>

                    {{ wq_form.dead_fish.errors | striptags }}
                    {{ wq_form.dead_fish }}
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <p>{{ wq_form.water_temp_unit.label }}</p>
                    {{ wq_form.water_temp_unit.errors | striptags }}
                    <div class="input-field">
                        {% for radio in wq_form.water_temp_unit %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="col s6">
                    <p>{{ wq_form.air_temp_unit.label }}</p>
                    {{ wq_form.air_temp_unit.errors | striptags }}
                    <div class="input-field">
                        {% for radio in wq_form.air_temp_unit %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <table>
                {{ sample_formset.management_form }}

                <thead>
                    <th data-field="test"></th>
                    <th data-field="sample1">Sample 1</th>
                    <th data-field="sample2">Sample 2</th>
                    <th data-field="sample3">Sample 3</th>
                    <th data-field="sample4">Sample 4</th>
                </thead>

                <tbody>
                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.water_temperature.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.water_temperature }}</div>
                                {{ sample.water_temp_tool.errors | striptags }}

                                {% for radio in sample.water_temp_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.air_temperature.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.air_temperature }}</div>
                                {{ sample.air_temp_tool.errors | striptags }}

                                {% for radio in sample.air_temp_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.dissolved_oxygen.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.dissolved_oxygen }}</div>
                                {{ sample.oxygen_tool.errors | striptags }}

                                {% for radio in sample.oxygen_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.pH.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.pH }}</div>
                                {{ sample.pH_tool.errors | striptags }}

                                {% for radio in sample.pH_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.turbidity.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.turbidity }}</div>
                                {{ sample.turbid_tool.errors | striptags }}

                                {% for radio in sample.turbid_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.salinity.label }}</td>
                            {% endif %}

                            <td>
                                <div class="input-field">{{ sample.salinity }}</div>
                                {{ sample.salt_tool.errors | striptags }}

                                {% for radio in sample.salt_tool %}
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr class="collapse-btn">
                        <th>Additional parameters <i class="material-icons">arrow_drop_down</i></th>
                    </tr>
                </tbody>
            </table>

            <div class="collapse">
                <table>
                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.conductivity.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.conductivity }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.total_solids.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.total_solids }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.bod.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.bod }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.ammonia.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.ammonia }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.nitrite.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.nitrite }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.phosphates.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.phosphates }}</div></td>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% for sample in sample_formset %}
                            {% if forloop.first %}
                                <td>{{ sample.fecal_coliform.label }}</td>
                            {% endif %}

                            <td><div class="input-field">{{ sample.fecal_coliform }}</div></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="input-field">
                <label for="{{ wq_form.notes.id_for_label }}">{{ wq_form.notes.label }}</label>
                {{ wq_form.notes.errors | striptags }}
                {{ wq_form.notes }}
            </div>

            {% if editable %}
                <input class="waves-effect btn" type="submit" value="Submit">
            {% endif %}
        </form>
    </div>
{% else %}
    <p>{% trans "You must be logged in to submit data." %}</p>
    <a href='/streamwebs/login/'>{% trans "Log in here." %}</a>
{% endif %}
{% endblock %}
