{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "StreamWebs Statistics" %}{% endblock %}
{% block body_title %}{% trans "StreamWebs Statistics" %}{% endblock %}

{% block content %}
  <div class="container">
    <form id='stats_form' method='post'>
        {% csrf_token %}
        <div class="input-field col s6">
          <label for="{{ soil_form.date.id_for_label }}">
            {{ stats_form.start.label }}
          </label>
          {{ stats_form.start.errors }}
          {{ stats_form.start }}
        </div>
        <div class="input-field col s6">
        <label for="{{ soil_form.date.id_for_label }}">
          {{ stats_form.end.label }}
        </label>
        {{ stats_form.end.errors }}
        {{ stats_form.end }}
        </div>

        <button class="btn wave-effect waves-light teal darken-3" type="submit"
          name="submit" value="{% trans "Submit" %}">
          {% trans "Submit" %}
        </button>
    </form>

    {% if all_time %}
        {% trans "Users who have logged in within the last 3 years" %}:
        {{ users.count }}
    {% else %}
        {% trans "Users who joined between" %} {{ start }} {% trans "and" %} {{ end }}:
        {{ users.count }}
    {% endif %}

    {% for user in users.users %}
        <li>{{ user.username }}</li>
    {% endfor %}

    {% trans "Number of data sheets uploaded between" %} {{ start }} {% trans "and" %} {{ end }}:

    {% for type, num in sheets.items %}
        <li> {{ type }}: {{ num }}</li>
    {% endfor %}

    {% trans "Schools that uploaded data between" %} {{ start }} {% trans "and" %} {{ end }}:
    {{ schools.total }}

    {% for school in schools.schools %}
        <li> {{ school.name }} </li>
    {% endfor %}

    {% trans "Sites that uploaded data between" %} {{ start }} {% trans "and" %} {{ end }}:
    {{ sites.total }}

    {% for site in sites.sites %}
        <li>{{ site.site_name }}</li>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}

  <script src="{% static 'streamwebs/js/data.js' %}"></script>

{% endblock %}
