{% extends 'streamwebs/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "StreamWebs Statistics" %}{% endblock %}
{% block body_title %}{% trans "StreamWebs Statistics" %}{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
  <div class="container">
    <h2>{{ username }}</h2>
    <br/>
    <form id='user_promo_form' method='post'>
      {% csrf_token %}
      {{ user_promo_form }}
      <br/>
      <input class="btn waves-effect teal darken-4" type='submit' name='submit'
        value='{% trans 'Save' %}'/>
    </form>
  </div>
{% endblock %}
