"Uid","Name","E-mail","Active","Created date","Last login","Last access","Roles","# of Submissions","School","First name","Last name","Date of birth"
"1","jerryp","jerryp@osuosl.org","Yes","2013-01-01 14:07","2017-10-05 14:07","","Student","","Oregon State University","Jerry","Peng","01/12/1997"
"1","jerryp2","pengt@oregonstate.edu","Yes","2013-01-01 14:07","2017-10-05 15:03","","Student","","Oregon State University","Jerry","Peng","01/12/1997"
